<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.trade.mapper.read.FssRepaymentParentReadMapper">
	<sql id="selectSql">
	SELECT 
		    id id, 
			trade_type tradeType,
			seq_no seqNo,
			trade_count tradeCount,
			success_count successCount,
			filed_count filedCount,
			state,
			result_state resultState,
			amt,
			pay_amt payAmt,
			create_time createTime,
			motify_time motifyTime,
			mchn_parent mchnParent,
			mchn_child mchnChild,
			remark
		 FROM t_gq_fss_repayment_parent 
		 </sql>
	<select id="queryFssRepaymentParent" parameterType="com.gqhmt.fss.architect.trade.entity.FssRepaymentParentEntity" resultType="com.gqhmt.fss.architect.trade.entity.FssRepaymentParentEntity">
		 <include refid="selectSql"/>
		<where>
			<if test="mchnChild != null and mchnChild !=''">
			 	and mchn_child like  CONCAT('%',#{mchnChild},'%')
			</if>
			<if test="seqNo != null and seqNo !=''">
			 	and seq_no like  CONCAT('%',#{seqNo},'%')
			</if>
			<if test="state != null and state !=''">
			 	and state = #{state}
			</if>
			<if test="resultState != null and resultState !=''">
			 	and result_state = #{resultState}
			</if>
		</where>
	</select>
	<select id="queryByMchnAndSeqNo" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.trade.entity.FssRepaymentParentEntity">
	 <include refid="selectSql"/>
	 where mchn_child=#{mchn} and seq_no=#{seqNo}
	</select>
</mapper>
