<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.funds.architect.order.mapper.read.FundOrderReadMapper">
	<sql id="filedSql">
		SELECT
			t.id id,
			t.account_id accountId,
			t.to_account_id toAccountId,
			t.order_no orderNo,
			t.order_type orderType,
			t.order_frorm_id orderFrormId,
			t.order_source orderSource,
			t.order_amount orderAmount,
			t.charge_amount chargeAmount,
			t.order_state orderState,
			t.ret_code retCode,
			t.ret_message retMessage,
			t.create_time createTime,
			t.last_modify_time lastModifyTime,
			t.thirdparty_type thirdPartyType,
			t.cust_id custId,
			t.lend_no lendNo,
			t.to_cust_id toCustId,
			t.to_lend_no toLendNo,
			t.loan_cust_id loanCustId,
			t.loan_no loanNo,
			t.new_order_type newOrderType,
			t.trade_type tradeType,
			t.abnormal_state abnormalState,
			t.handle_state handleState
		FROM t_gq_fund_order t
	</sql>
	<select id="getWithdrawNum" parameterType="java.lang.Long" resultType="int">
		 SELECT COUNT(id) 
		 FROM t_gq_fund_order t 
		 WHERE t.order_type = 9   
		 AND t.order_state = 2   
		 AND DATE_FORMAT(t.create_time, '%Y%m%d') = DATE_FORMAT(CURRENT_TIMESTAMP(), '%Y%m%d') 
		 AND t.account_id = #{accountId}
	</select>


	<select id="getFundOrderByAccountId" parameterType="java.lang.Long" resultType="com.gqhmt.funds.architect.order.entity.FundOrderEntity">
		 SELECT
		 	t.order_no orderNo,
		 	t.create_time createTime
		 FROM t_gq_fund_order t
		 WHERE t.account_id = #{accountId}
	</select>
	<select id="findfundOrdesrs"  resultType="com.gqhmt.funds.architect.order.entity.FundOrderEntity">
		 <include refid="filedSql"/>
		where t.order_type in(1,2)
		<if test="accNos != null">
			and t.account_id in
			<foreach collection="accNos" item="accNo" open="(" close=")" separator=",">
				#{accNo}
			</foreach>
		</if>
		<if test="map.orderNo != null and map.orderNo != '' ">
			AND t.`order_no` like CONCAT('%',#{map.orderNo},'%')
		</if>
		<if test="map.startTime != null and map.startTime != '' ">
			and date_format(t.create_time,'%Y%m%d') &gt;= #{map.startTime}
		</if>
		<if test="map.endTime != null and map.endTime != '' ">
			and date_format(t.create_time,'%Y%m%d') &lt;= #{map.endTime}
		</if>
		ORDER BY  t.create_time DESC
	</select>
	<select id="findOrderList"  resultType="com.gqhmt.funds.architect.order.entity.FundOrderEntity">
		 <include refid="filedSql"/>
		where t.abnormal_state='98080002'
		<if test="typeList != null">
			and t.order_type in
			<foreach collection="typeList" item="type" open="(" close=")" separator=",">
				#{type}
			</foreach>
		</if>
		<if test="map.orderNo != null and map.orderNo != '' ">
			AND t.`order_no` like CONCAT('%',#{map.orderNo},'%')
		</if>
		<if test="map.handleState != null and map.handleState != '' ">
			AND t.`handle_state` like CONCAT('%',#{map.handleState},'%')
		</if>
		<if test="map.startTime != null and map.startTime != '' ">
			and date_format(t.create_time,'%Y%m%d') &gt;= #{map.startTime}
		</if>
		<if test="map.endTime != null and map.endTime != '' ">
			and date_format(t.create_time,'%Y%m%d') &lt;= #{map.endTime}
		</if>
		ORDER BY  t.create_time DESC
	</select>
	<select id="getByOrderNo"  resultType="com.gqhmt.funds.architect.order.entity.FundOrderEntity">
		 <include refid="filedSql"/>
		where t.`order_no` like CONCAT('%',#{orderNo},'%')
	</select>
	<select id="queryFundOrdesrs"  resultType="com.gqhmt.funds.architect.order.entity.FundOrderEntity">
		 <include refid="filedSql"/>
		where t.order_type in(1,2,9,11,12) AND t.abnormal_state NOT IN ('98080001','98080002')
		ORDER BY  t.create_time DESC
	</select>

	<select id="getOrders"  resultType="com.gqhmt.funds.architect.order.entity.FundOrderEntity">
		<include refid="filedSql"/>
		where t.order_type in(1,2,5,9,12,11990048,11990049)
		and  date_format(t.create_time,'%Y%m%d') =#{orderDate}
	</select>
</mapper>
 