<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.funds.architect.order.mapper.read.FundOrderReadMapper">
	<select id="getWithdrawNum" parameterType="java.lang.Long" resultType="int">
		 SELECT COUNT(id) 
		 FROM t_gq_fund_order t 
		 WHERE t.order_type = 9   
		 AND t.order_state = 2   
		 AND DATE_FORMAT(t.create_time, '%Y%m%d') = DATE_FORMAT(CURRENT_TIMESTAMP(), '%Y%m%d') 
		 AND t.account_id = #{accountId}
	</select>


	<select id="getFundOrderByAccountId" parameterType="java.lang.Long" resultType="com.gqhmt.funds.architect.order.entity.FundOrderEntity">
		 SELECT
		 	t.order_no orderNo,
		 	t.create_time createTime
		 FROM t_gq_fund_order t
		 WHERE t.account_id = #{accountId}
	</select>
</mapper>
 