<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.account.mapper.read.FssAccountReadMapper">



	<select id="findCustomerAccountByParams" parameterType="java.util.Map" resultType="fssAccountEntity">
		SELECT 
			id,
			acc_no accNo,
			cust_no custNo,
			acc_balance accBalance,
			acc_freeze accFreeze,
			acc_avai accAvai,
			create_time createTime,
			modify_time modifyTime 
		FROM 
			t_gq_fss_account t
		WHERE t.cust_no = #{custNo}
		
		<if test="accNo != null and accNo != '' ">
        AND t.acc_no Like CONCAT(CONCAT('%',#{accNo}),'%')
        </if>
       <if test="startDate != null and startDate != '' and endDate!=null and endDate!=''">
        AND t.create_time BETWEEN DATE_FORMAT(#{startDate},'%Y%m%d%H%i%s') AND DATE_FORMAT(#{endDate},'%Y%m%d%H%i%s')
       </if>
		
	</select>
	
	<select id="getBussinessAccountList" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.account.bean.BussAndAccountBean">
		SELECT 
		   a.acc_no accNo,
		   c.CUSTOMER_NAME custName,
		   c.CUSTOMER_TYPE customerType,
		   c.CERT_TYPE certType,
		   c.CERT_NO certNo,
		   c.sex sex,
		   c.BIRTHDATE birthday,
		   c.MOBILE_PHONE mobile,
		   a.state state,
		   a.acc_type accType,
		   a.acc_balance accBalance,
		   a.acc_freeze accFreeze,
		   a.acc_avai accAvai,
		   a.busi_no busiNo,
		   a.third_acc_no thirdAccNo,
		   a.mchn_child mchnChild,
		   a.mchn_parent mchnParent,
		   c.EDUCATION education,
		   c.MARITAL_STATUS maritalStatus,
		   c.ADDRESS address,
		   c.industry industry,
		   c.isvalid isValid,
		   c.bank_id bankId,
		   a.create_time createTime,
		   a.modify_time modifyTime
	   FROM `t_gq_fss_account` a,`t_gq_customer_info` c
	   WHERE a.cust_id=c.id
	   <if test="accNo!= null and accNo!= '' ">
       	  AND a.acc_no Like CONCAT(CONCAT('%',#{accNo}),'%')
       </if>
	   <if test="custName != null and custName != '' ">
       	  AND c.CUSTOMER_NAME Like CONCAT(CONCAT('%',#{custName}),'%')
       </if>
	   <if test="certNo != null and certNo != '' ">
	      AND c.cert_no Like CONCAT(CONCAT('%',#{certNo}),'%')
	   </if> 
	   <if test="accType != null and accType != '' ">
	      AND a.acc_type = #{accType}
	   </if> 
	</select>

	<select id="findAccountByAccNo" parameterType="java.lang.String" resultType="com.gqhmt.fss.architect.account.entity.FssAccountEntity">
		SELECT
		account.id id,
		account.busi_no busiNo,
		account.acc_no accNo,
		account.cust_no custNo,
		account.acc_balance accBalance,
		account.acc_freeze accFreeze,
		account.acc_avai accAvai,
		account.create_time accCreateTime,
		account.modify_time accModifyTime,
		account.cust_id custId

		FROM t_gq_fss_account account
		where account.acc_no = #{accNo}

	</select>
</mapper>
