<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.account.mapper.read.FssAccountReadMapper">



	<select id="findCustomerAccountByParams" parameterType="java.util.Map" resultType="fssAccountEntity">
		SELECT 
			id,
			acc_no accNo,
			cust_no custNo,
			acc_balance accBalance,
			acc_freeze accFreeze,
			acc_avai accAvai,
			create_time createTime,
			modify_time modifyTime 
		FROM 
			t_gq_fss_account t
		WHERE t.cust_no = #{custNo}
		
		<if test="accNo != null and accNo != '' ">
        AND t.acc_no Like CONCAT(CONCAT('%',#{accNo}),'%')
        </if>
       <if test="startDate != null and startDate != '' and endDate!=null and endDate!=''">
        AND t.create_time BETWEEN DATE_FORMAT(#{startDate},'%Y%m%d%H%i%s') AND DATE_FORMAT(#{endDate},'%Y%m%d%H%i%s')
       </if>
		
	</select>
	
	<select id="getBussinessAccountList" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.account.bean.BussAndAccountBean">
		SELECT 
		account.id id,
		account.busi_no busiNo,
		account.acc_no accNo,
		account.cust_no custNo,
		account.acc_balance accBalance,
		account.acc_freeze accFreeze,
		account.acc_avai accAvai,
		account.create_time accCreateTime,
		account.modify_time accModifyTime,
		customer.name bussinessname,
		customer.cert_no bussinesscertno
		FROM `t_gq_fss_customer` customer,`t_gq_fss_account` account 
		WHERE account.cust_no=customer.cust_no AND account.busi_no=#{busiNo} 
	
		 <if test="accNo!= null and accNo!= '' ">
        	AND account.acc_no Like CONCAT(CONCAT('%',#{accNo}),'%')
        </if>
        
		<if test="custNo!= null and custNo!= '' ">
        	AND account.cust_no Like CONCAT(CONCAT('%',#{custNo}),'%')
        </if>
        
		<if test="bussinessname != null and bussinessname != '' ">
        	AND customer.name Like CONCAT(CONCAT('%',#{bussinessname}),'%')
        </if>
        
		<if test="bussinesscertno != null and bussinesscertno != '' ">
        	AND customer.cert_no Like CONCAT(CONCAT('%',#{bussinesscertno}),'%')
        </if> 
	</select>
</mapper>
