<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.asset.mapper.read.FssAssetReadMapper">
	<select id="getAccountAssets" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.asset.entity.FssAssetEntity">
		SELECT 
			id,
			acc_no accNo,
			cust_no custNo,
			acc_banlance accBanlance,
			acc_asset accSsset,
			acc_avai accAvai,
			acc_freeze accFreeze
		FROM 
			t_gq_fss_asset t 
		WHERE t.cust_no=${cust_no} 
		AND t.user_no=${user_no} 
		AND t.acc_no=${acc_no}
	</select>
</mapper>
