<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.asset.mapper.read.FssAssetReadMapper">
	<select id="getAccountAssets" parameterType="java.lang.String" resultType="fssAssetEntity">
		SELECT 
			id,
			acc_no accNo,
			cust_no custNo,
			acc_banlance accBanlance,
			acc_asset accSsset,
			acc_avai accAvai,
			acc_freeze accFreeze
		FROM 
			t_gq_fss_asset t
		WHERE t.cust_no = #{custNo}
	</select>
</mapper>
