<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.account.mapper.read.FssWaterReadMapper">
	<sql id="fieldSql">
	</sql>
	<sql id="whereSql">
	</sql>
	<sql id="otherSql">
		<choose>
		<when test="orderStr != null">
			order by ${orderStr}
		</when>
		<otherwise>
		</otherwise>
		</choose>
	</sql>
	<select id="queryWaterDetail" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.account.entity.FssWaterEntity">
		select 
				id,
              acc_no accNo ,                
              debit_amount debitAmount, 
               credit_amount creditAmount, 
               banlance banlance, 
               create_time  createTime, 
               modify_time modifyTime, 
               sumary sumary, 
               pay_channel payChannel, 
               order_no orderNo, 
               seq_no seqo, 
               mchn_parent mchnParent, 
               mchn_child mchnChild
                 from t_gq_fss_water water where cust_no=#{id}
                <if test="startDate != null and startDate != '' and endDate==null or endDate=='' ">
                AND water.create_time BETWEEN #{startDate} AND SYSDATE()
              </if>
              <if test="startDate != null and startDate != '' and endDate!=null and endDate!=''">
               AND water.create_time BETWEEN #{startDate} AND #{endDate}
              </if>
              <if test="startDate == null or startDate == '' and endDate!=null and endDate!=''">
               AND water.create_time &lt; #{endDate}
              </if>
                 
                
</select>
</mapper>
