<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.account.mapper.read.FssAccountReadMapper">

	<select id="findCustomerAccountByParams" parameterType="java.util.Map" resultType="fssAccountEntity">
		<!-- SELECT acc_no accNo,cust_no custNo,acc_balance accBalance,acc_freeze accFreeze,acc_avai accAvai,create_time createTime,modify_time modifyTime FROM t_gq_fss_account t
		<where>
		<choose>
		    <when test="custNo!=null and custNo!=''"> t.cust_no = #{custNo} </when> 
			<when test="accNo!=null and accNo!=''"> t.acc_no Like CONCAT(CONCAT('%',#{accNo}),'%') </when>
			<when test="startime!=null and startime!='' and endtime!=null and endtime!='' "> t.create_time between #{startime} and #{endtime}</when>
			<otherwise> </otherwise>
		</choose>
	</where> -->
		
		<!-- 方法2 -->
		SELECT 
			acc_no accNo,
			cust_no custNo,
			acc_balance accBalance,
			acc_freeze accFreeze,
			acc_avai accAvai,
			create_time createTime,
			modify_time modifyTime 
		FROM 
			t_gq_fss_account t
		WHERE t.cust_no = #{custNo}
		
		<if test="accNo != null and accNo != '' ">
        AND t.acc_no Like CONCAT(CONCAT('%',#{accNo}),'%')
        </if>
       <if test="startDate != null and startDate != '' and endDate!=null and endDate!=''">
        AND t.create_time BETWEEN #{startDate} AND #{endDate}
       </if>
		
	</select>
</mapper>
