<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.fuiouFtp.mapper.write.FuiouFtpColomFieldWriteMapper">
	<update id="updateByFileSeqId" parameterType="com.gqhmt.fss.architect.fuiouFtp.mapper.write.FuiouFtpColomFieldWriteMapper">  
         update t_fuiou_ftp_field t set t.return_Code=#{reqCode},t.return_msg=#{msg},where t.id=#{fileSeq}
     	 
    </update>
    
    <update id="failureRetryByOrderNo" parameterType="String">  
         update t_fuiou_ftp_field t 
            set t.state = '10890001'
          where t.order_no = #{orderNo}
            and t.state = '10890004'
     	 	and t.return_Code in ('91003018','91009999')
    </update>
    
    <update id="updateStatusByorderNo" parameterType="String">
        update t_fuiou_ftp_field t
            set t.state = '9808'
          where t.order_no = #{orderNo}
    </update>


</mapper>
