<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.channelDeploy.mapper.write.ChannelRestrictionsWriteMapper">
    <insert id="addRestrictionsEntity" parameterType="com.gqhmt.fss.architect.channelDeploy.entity.ChannelRestrictionsEntity">
        INSERT INTO t_gq_fss_channel_restrictions
        (option_name,option_bank,option_type,option_value,org_id,conf_of_people,create_time,modify_time)
        VALUES(#{optionName},#{optionBank},#{optionType},#{optionValue},#{orgId},#{confOfPeople},NOW(),NOW())
    </insert>
</mapper>