<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.customer.mapper.read.FssCustomerReadMapper">
	<sql id="fieldSql">
	</sql>
	<sql id="whereSql">
	</sql>
	<sql id="otherSql">
		<choose>
		<when test="orderStr != null">
			order by ${orderStr}
		</when>
		<otherwise>
		</otherwise>
		</choose>
	</sql>
<!-- 	用户和银行卡信息列表 -->
	<select id="findbankCardAll" parameterType="CustomerAndUser"  resultType="CustomerAndUser">
	
		SELECT
		bankCard.id id,
		bankCard.user_no userNo,
		customer.name name,
		customer.mobile mobile,
		customer.cert_type certType,
		customer.cert_no certNo,
		bankCard.bank_id bankId,
		bankCard.card_no cardNo,
		bankCard.area area,
		customer.create_time createTime,
		customer.modify_time modifyTime
		FROM `t_gq_fss_bank_card_info` bankCard ,`t_gq_fss_customer` customer where bankCard.user_no=customer.id
		 <if test="name != null and name != ''">
                and   customer.name like  concat('%',#{name},'%') 
              </if>
              <if test="mobile != null and mobile != ''">
                and customer.mobile like concat('%',#{mobile},'%') 
              </if>
              <if test="certNo != null and certNo != ''">
                and  customer.cert_no like concat('%',#{certNo},'%') 
              </if>
	</select>
<!-- 	查询要申请变更银行卡用户信息 -->
	<select id="findCustomerAndUser" parameterType="java.lang.Long" resultType="CustomerAndUser">
	SELECT
		bankCard.id id,
		bankCard.user_no userNo,
		customer.name name,
		customer.mobile mobile,
		customer.cert_type certType,
		customer.cert_no certNo,
		bankCard.bank_id bankId,
		bankCard.card_no cardNo,
		bankCard.area area,
		customer.create_time createTime,
		customer.modify_time modifyTime
		FROM `t_gq_fss_bank_card_info` bankCard ,`t_gq_fss_customer` customer where bankCard.user_no=customer.id and customer.id=#{id}
		
	</select>
	<select id="quaryBankCardInfoList" parameterType="bankCardInfoEntity" resultType="bankCardInfoEntity">
		
	</select>
</mapper>
