<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.accounting.mapper.read.FssCheckDateReadMapper">
	<sql id="field">
		SELECT
		t.id id,
		t.order_date orderDate,
		t.input_date inputDate,
		t.input_user_state inputUserState,
		t.order_user_state orderUserState
		FROM t_gq_fss_check_date t
	</sql>

	<select id="queryInputDate" resultType="com.gqhmt.fss.architect.accounting.entity.FssCheckDate">
		SELECT
			t.id id,
			t.order_date orderDate,
			MIN(t.input_date) inputDate,
			t.input_user_state inputUserState,
			t.order_user_state orderUserState
		FROM
		    t_gq_fss_check_date t
		WHERE t.input_user_state = '98010002'
		AND t.input_date &gt;= '20150601'AND t.input_date IS NOT NULL
	</select>
</mapper>
