<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.business.architect.loan.mapper.read.TenderReadMapper">

	<select id="getTenderByBidId" resultType="com.gqhmt.business.architect.loan.entity.Tender">
		SELECT * FROM t_gq_tender t
		WHERE t.bid_id = ${bidId}
	</select>
	
	
	<select id="getProductName" resultType="java.lang.String">
		select t.product_name from t_gq_product_sales_pack t where id = (select b.pack_id from t_gq_product_pack_bid_map b where b.is_delete =1 and b.bid_id = ${bidId} )
	</select>
	
	
	
	
</mapper>
