<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.account.mapper.read.FssAccountReadMapper">
	<sql id="selectSql">
	 SELECT 
	 	   t.id id,
		   t.acc_no accNo,
		   t.acc_balance accBalance,
		   t.acc_freeze accFreeze,
		   t.acc_avai accAvai,
		   t.acc_notran accNotran,
		   t.cust_no custNo,
		   t.user_no userNo,
		   t.create_time createTime,
		   t.modify_time modifyTime,
		   t.acc_type accType,
		   t.state state,
		   t.channel_no channelNo,
		   t.mchn_child mchnChild,
		   t.mchn_parent mchnParent,
		   t.busi_no busiNo,
		   t.cust_id custId,
		   t.third_acc_no thirdAccNo,
	       t.trade_type tradeType
			FROM t_gq_fss_account t
	</sql>

	<select id="findCustomerAccountByParams" parameterType="fssAccountEntity" resultType="fssAccountEntity">
		<include refid="selectSql"/>
		WHERE t.cust_no = #{custNo}
		order by t.create_time desc
	</select>

	<select id="getBussinessAccountList" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.account.bean.BussAndAccountBean">
	   SELECT
		   a.acc_no accNo,
		   a.state state,
		   a.acc_type accType,
		   a.acc_balance accBalance,
		   a.acc_freeze accFreeze,
		   a.acc_avai accAvai,
		   a.busi_no busiNo,
		   a.third_acc_no thirdAccNo,
		   a.mchn_child mchnChild,
		   a.mchn_parent mchnParent,
		   a.create_time createTime,
		   a.modify_time modifyTime,
		   a.cust_no custNo,
		   a.user_no userNo,
		   a.channel_no channelNo,
		   a.cust_id custId,
	       a.trade_type tradeType,
		   c.name custName,
		   c.mobile mobile,
		   c.cert_type certType,
		   c.cert_no certNo,
		   c.user_id userId,
		   c.create_time createTime,
		   c.modify_time modifyTime,
		   c.is_auth_real_name isAuthRealName,
		   c.create_user_id,
		   c.modify_user_id
	   FROM `t_gq_fss_account` a,`t_gq_fss_customer` c
	   WHERE a.cust_no=c.cust_no
	   <if test="accType!=null and accType!=''">
       	  AND a.acc_type=#{accType}
       </if>
	   <if test="custNo!=null and custNo!=''">
       	  AND a.cust_no=#{custNo}
       </if>
	   <if test="accNo!=null and accNo!=''">
       	  AND a.acc_no=#{accNo}
       </if>
	   <if test="custName!=null and custName!=''">
       	  AND c.name=#{custName}
       </if>
	   <if test="certNo!=null and certNo!=''">
	      AND c.cert_no=#{certNo}
	   </if>
	   <if test="busiNo!=null and busiNo!=''">
	      AND a.busi_no=#{busiNo}
	   </if>
	   <if test="mobile!=null and mobile!=''">
	      AND c.mobile=#{mobile}
	   </if>
	   order by c.create_time desc
	</select>

	<select id="findAccountByAccNo" parameterType="java.lang.String" resultType="com.gqhmt.fss.architect.account.entity.FssAccountEntity">
		<include refid="selectSql"/>
		where t.acc_no = #{accNo}
	</select>
	<!--通过cust_id查询抵押权人账户-->
	<select id="findAccountByCustId" parameterType="java.lang.Long" resultType="com.gqhmt.fss.architect.account.entity.FssAccountEntity">
		<include refid="selectSql"/>
		where t.cust_id = #{custId} and a.acc_type=10012002
	</select>
	<!--通过合同号查询资金平台账号信息-->
	<select id="findAccountByContractNo" parameterType="java.lang.String" resultType="com.gqhmt.fss.architect.account.entity.FssAccountEntity">
		<include refid="selectSql"/>
		where t.busi_no = #{contractNo}
	</select>

	<select id="getFssAccountByAccNo" parameterType="java.lang.String" resultType="com.gqhmt.fss.architect.account.entity.FssAccountEntity">
		<include refid="selectSql"/>
		WHERE t.acc_no = #{accNo}
	</select>
	<select id="getAccountByBusiNo" resultType="com.gqhmt.fss.architect.account.entity.FssAccountEntity">
		<include refid="selectSql"/>
		WHERE t.busi_no = #{busiNo} AND t.acc_type=#{accType}
	</select>
    <select id="queryExcelValue" resultType="java.util.Map">
        SELECT
          a.cust_id 客户id,
          t.fund_type 费用类型,
          CASE t.`fund_type`
          WHEN  1001 THEN '充值'
          WHEN  1003 THEN '提现'
          WHEN  1004 THEN '提现退票'
          WHEN  1005 THEN '一般转账:转出'
          WHEN  1006 THEN '一般转账:转入'
          WHEN  1007 THEN '资金冻结'
          WHEN  1009 THEN '资金收入'
          WHEN  1012 THEN '实时提现'
          WHEN  1010 THEN '债权转让手续费'
          WHEN  2001 THEN '提现'
          WHEN  2003 THEN '提现'
          WHEN  2002 THEN '一般冻结解冻'
          WHEN  3006 THEN '收款利息（出借入）'
          WHEN  4001 THEN '收取账户管理费'
          WHEN  4002 THEN '账户管理费'
          WHEN  4003 THEN '收取保证金'
          WHEN  4004 THEN '收取保证金'
          WHEN  4005 THEN '资金补偿'
          WHEN  4006 THEN '服务费'
          WHEN  4007 THEN '归还保证金'
          WHEN  4008 THEN '抵押标借款人转账'
          WHEN  4010 THEN '提现手续费'
          WHEN  4011 THEN '账户管理费'
          WHEN  4014 THEN '归还逆服务费'
          WHEN  10990003 THEN '咨询服务费'
          WHEN  10990006 THEN '收取保证金'
          ELSE '其他'
          END 费用类型1,
          t.`amount` 金额,
          a.`user_name` 费用人手机号,
          a.`cust_name` 费用人姓名,
          t.`sumary` 交易描述,
          t.create_time 入账时间
        FROM
          `t_gq_fund_sequence` t
          LEFT JOIN `t_gq_fund_account` a
            ON t.`o_ACCOUNT_ID` = a.`id`
        WHERE t.`ACCOUNT_ID` = #{accountId}
		<if test="startTime!=null and startTime!=''">
			and date_format(t.create_time,'%Y%m%d') &gt;= #{startTime}
		</if>
		<if test="endTime!=null and endTime!=''">
			and date_format(t.create_time,'%Y%m%d') &lt;= #{endTime}
		</if>
    </select>
</mapper>
