<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.loan.mapper.read.FssEnterAccountReadMapper">
	<!-- 入账回盘-->
	<select id="getEnterAccounts"  parameterType="java.lang.Long" resultType="com.gqhmt.fss.architect.loan.entity.FssEnterAccountEntity" >
		SELECT 
			t.id,
		    t.contract_id contractId,
		    t.contract_no contractNo,
			t.acc_no accNo,
			t.mortgagee_acc_no mortgageeAccNo,
			 t.create_time createTime,
		    t.modify_time modifyTime,
		    t.serial_number serialNumber,
		    t.accounting_no accountingNo,
		    t.contract_no contractNo,
			t.loan_platform loanPlatform,
			 t.result result
			FROM t_gq_fss_enter_account t
			where t.parent_id=#{parentId}
	</select>
</mapper>
