<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.loan.mapper.read.FssEnterAccountReadMapper">

	<sql id="whereSql">
			<if test="mchnNo != null and mchnNo != ''">
				and t.mchn_child = #{mchnNo}
			</if>
			<if test="seqNo != null and seqNo != '' ">
				and t.seq_no = #{seqNo}
			</if>
	</sql>
	<!-- 通过入账id得到费用列表 -->
	<select id="getFssSettleList"  parameterType="java.lang.Long" resultType="com.gqhmt.fss.architect.loan.entity.FssSettleListEntity" >
		SELECT 
			f.id,
			f.account_type accountType,
			f.rep_code repCode,
			f.rep_msg repMsg,
			f.settle_amt settleAmt
			FROM t_gq_fss_settlelist f
			where f.enter_id=#{id}
	</select>
	<!-- 入账回盘-->
	<select id="getEnterAccount"  parameterType="java.util.Map" resultType="com.gqhmt.extServInter.dto.loan.EnterAccount" >
		SELECT 
			t.id,
		    t.contract_id contract_id,
		    t.serial_number serial_number,
		    t.seq_no seq_no,
		    t.mchn_child mchn,
		    t.rep_code resp_code,
		    t.accounting_no accounting_no,
			t.mortgagee_acc_no mortgagee_acc_no,
			t.acc_no acc_no
			FROM t_gq_fss_enter_account t
			where 1=1
			<include refid="whereSql" />
	</select>
		<!-- 得到入账表 -->
	<select id="getEnterAccountEntities"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.loan.entity.FssEnterAccountEntity" >
		SELECT 
			t.id,
		    t.contract_id contract_id,
		    t.serial_number serial_number,
		    t.seq_no seq_no,
		    t.mchn_child mchn,
		    t.rep_code repCode,
			t.rep_msg repMsg,
		    t.accounting_no accounting_no,
			t.mortgagee_acc_no mortgagee_acc_no,
			t.acc_no acc_no
			FROM t_gq_fss_enter_account t
			where 1=1
			<include refid="whereSql" />
			<if test="contractId != null and contractId != ''">
				and t.contract_id like concat('%',#{contractId},'%')
			</if>
			<if test="seqNo != null and seqNo != ''">
				and t.seq_no like concat('%',#{seqNo},'%')
			</if>
			<if test="mchnChild != null and mchnChild != ''">
				and t.mchn_child like concat('%',#{mchnChild},'%')
			</if>
			<choose>
				<when test="creatTime == null or creatTime == '' and modifyTime==null ">
					AND 1=1
				</when>
				<when test="creatTime != null and creatTime != '' and modifyTime==null or modifyTime=='' ">
					AND t.create_time BETWEEN #{creatTime} AND SYSDATE()
				</when>
				<when test="creatTime != null and creatTime != '' and modifyTime!=null and modifyTime!=''">
					AND t.create_time BETWEEN #{creatTime} AND #{modifyTime}
				</when>
				<when test="creatTime == null or creatTime == '' and modifyTime!=null and modifyTime!=''">
					AND t.create_time &lt; #{modifyTime} 
				</when>
			</choose>
	</select>
</mapper>
