<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.loan.mapper.read.FssLoanReadMapper">

	<sql id="whereSql">
			<if test="mchnNo != null and mchnNo != ''">
				and t.mchn_child = #{mchnNo}
			</if>
			<if test="seqNo != null and seqNo != ''">
				and t.seq_no = #{seqNo}
			</if>
	</sql>
	<sql id="selectSql">
	SELECT 
			t.id id,
		    t.contract_id contractId,
		    t.contract_no contractNo,
		    t.acc_no accNo,
			t.contract_amt contractAmt,
			t.rep_code repCode,
			t.seq_no seqNo,
			t.user_no userNo,
			t.cust_no custNo,
			t.mortgagee_acc_no mortgageeAccNo,
			t.create_time createTime,
			t.modify_time modifyTime,
			t.mchn_parent mchnParent,
			t.mchn_child mchnChild,
			t.result result,
			t.trade_type tradeType,
			t.status status,
			t.rep_msg repMsg,
			t.pay_amt payAmt,
			t.rep_code repCode,
			t.trade_type_parent tradeTypeParent,
			t.rep_msg repMsg, 
			t.busi_no busiNo, 
			t.loan_platform loanPlatform  	
			FROM t_gq_fss_loan t 
	</sql>
	<!-- 得到借款人放款回调对象 -->
	<select id="getResponse"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		SELECT 
			t.id,
		    t.mchn_child mchnChild,
		    t.seq_no seqNo,
		    t.trade_type tradeType,
		    t.contract_id contractId,
		    t.contract_no contractNo,
		    t.mortgagee_acc_no mortgageeAccNo,
		    t.acc_no accNo,
			t.contract_amt contractAmt,
			t.contract_interest contractInterest,
			t.pay_amt payAmt,
		    case when 
			t.status='10050007' then '0000' 
			else '0001'  end repCode,
			t.loan_platform loanPlatform
			FROM t_gq_fss_loan t
			where 1=1
			<include refid="whereSql" />
	</select>
	<!-- 抵押权人提现回盘 -->
	<select id="getMortgageeWithDrawRespons"  parameterType="java.util.Map" resultType="com.gqhmt.extServInter.dto.loan.MortgageeWithDrawRespons" >
		SELECT 
		    t.seq_no seq_no,
		    t.mchn_child mchn,
		    t.trade_type trade_type,
		    t.contract_id contract_id,
		    t.contract_no contract_no,
		    t.acc_no acc_no,
			t.pay_amt pay_amt,
			t.contract_amt contract_amt,
			case when 
			t.status='10050009' then '0000' 
			else '0001'  end resp_code
			FROM t_gq_fss_loan t 
			where 1=1
			<include refid="whereSql" />
	</select>
	<!-- 冠e通回盘 -->
	<select id="getBidApplyResponse"  parameterType="java.util.Map" resultType="com.gqhmt.extServInter.dto.p2p.BidApplyResponse" >
		SELECT 
		    t.seq_no seq_no,
		    t.mchn_child mchn,
		    t.trade_type trade_type,
			case when 
			t.trade_type_parent='11101002' then t.busi_no 
			else t.contract_id END  busi_bid_no,
			case when 
			t.status='10050101' then '0000' 
			WHEN 
			t.status='10050009' then '0000' 
			WHEN 
			t.status='10050013' then '0000'
			WHEN 
			t.status='10050100' then '0000'
			else '0001'  end resp_code
			FROM t_gq_fss_loan t 
			where 1=1 
			<include refid="whereSql" />
	</select>
	<!-- 流标回盘回盘 -->
	<select id="getFailedBidResponse"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		SELECT 
		    t.seq_no seq_no,
		    t.mchn_child mchn,
		    t.trade_type trade_type,
		    t.contract_id contract_id,
		    t.contract_no contract_no,
		    t.mortgagee_acc_no mortgagee_acc_no,
		    t.acc_no acc_no,
			t.contract_amt contract_amt,
			t.pay_amt pay_amt,
		   	case when 
			t.status='10050100' then '0000' 
			else '0001'  end resp_code,
			t.loan_platform loan_platform
			FROM t_gq_fss_loan t
			where 1=1
			<include refid="whereSql" />
	</select>
		<!-- 借款人放款列表 -->
	<select id="findBorrowerLoan"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		<include refid="selectSql" />
			where 1=1 
 			<if test="contractNo!=null and contractNo!=''"> 
				and t.contract_no like concat('%',#{contractNo},'%') 
 			</if> 
 			<if test="status!=null and status!=''"> 
 				and t.status = #{status}
			</if> 
			<if test="custNo!=null and custNo!=''">
				and t.cust_no like concat('%',#{custNo},'%')
 			</if> 
			<if test="startTime!=null and startTime!=''">
				and date_format(t.create_time,'%Y%m%d') &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != '' ">
				and date_format(t.create_time,'%Y%m%d') &lt;= #{endTime}
			</if>
			<if test="type!=null and type!=''">
				AND t.trade_type = #{type}
			</if>
			
	</select>
<!-- 	通过tradeType查询得到列表数据 -->
	<select id="findByType"  parameterType="java.lang.String" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		<include refid="selectSql" />
			where  t.trade_type = #{type}
	</select>
<!-- 	满标放款  11090002 ，信用标放款      11092001， 抵押权人提现     11090004，冠e通满标-->
	<select id="findLoanBySettle" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity">
		<include refid="selectSql" />
		WHERE (t.trade_type = 11090002 OR t.trade_type = 11092001 OR t.trade_type = 11090004 ) AND t.status = 10050010
	</select>
<!-- 	回款  11100001 ，提前回款     11100002， 正常回款    11100003，逾期回款-->
	<select id="findLoanRepayment" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity">
		<include refid="selectSql" />
		WHERE (t.trade_type = 11100001 OR t.trade_type = 11100002 OR t.trade_type = 11100003) AND t.status = 10050011
	</select>
<!-- 	流标  11090011 ，信用标流标           11090012，冠e通流标-->
	<select id="findAbortBid" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity">
		<include refid="selectSql" />
		WHERE (t.trade_type = 11090011 or t.trade_type=11090012 ) AND t.status = 10050103
	</select>
	
	<!-- 用来导出线下数据 -->
	<select id="findBorrowerLoanOffline" resultType="com.gqhmt.fss.architect.loan.bean.FssLoanBean" >
			SELECT 
				c.`name` custName,
				c.cert_no certNo,
		    	t.contract_no contractNo,
		    	t.acc_no accNo,
			  	t.contract_amt contractAmt,
        		t.mchn_child mchn
			FROM t_gq_fss_loan t,t_gq_fss_customer c WHERE t.cust_no=c.cust_no
			<!-- AND t.trade_type=#{type} -->
			<!-- <if test="type !=null and type != '' ">
				AND t.trade_type = #{type}
			</if> -->
	</select>
	
</mapper>
