<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.loan.mapper.read.FssLoanReadMapper">

	<sql id="whereSql">
			<if test="mchnNo != null and mchnNo != ''">
				and t.mchn_child = #{mchnNo}
			</if>
			<if test="seqNo != null and seqNo != ''">
				and t.seq_no = #{seqNo}
			</if>
	</sql>
	<!-- 得到借款人放款回调对象 -->
	<select id="getResponse"  parameterType="java.util.Map" resultType="com.gqhmt.extServInter.dto.loan.LendingResponse" >
		SELECT 
			t.id,
		    t.contract_id contract_id,
		    t.mortgagee_acc_no mortgagee_acc_no,
		    t.seq_no seq_no,
		    t.mchn_child mchn,
		    t.acc_no acc_no,
		    t.rep_code resp_code,
			t.rep_msg resp_msg,
			t.contract_amt contract_amt,
			t.pay_amt pay_amt,
			t.loan_platform loan_platform
			FROM t_gq_fss_loan t
			where 1=1
			<include refid="whereSql" />
	</select>
	<!-- 通过loanId得到收费列表 -->
	<!-- 抵押权人提现回盘 -->
	<select id="getMortgageeWithDrawRespons"  parameterType="java.util.Map" resultType="com.gqhmt.extServInter.dto.loan.MortgageeWithDrawRespons" >
		SELECT 
			t.id id,
		    t.contract_id contract_id,
		    t.seq_no seq_no,
		    t.mchn_child mchn,
		    t.acc_no acc_no,
			t.contract_amt contract_amt,
			t.rep_code resp_code,
			t.rep_msg resp_msg,
			t.pay_amt pay_amt,
			t.loan_platform loanPlatform  			
			FROM t_gq_fss_loan t 
			where 1=1
			<include refid="whereSql" />
	</select>
	<!-- 流标回盘回盘 -->
	<select id="getFailedBidResponse"  parameterType="java.util.Map" resultType="com.gqhmt.extServInter.dto.loan.FailedBidResponse" >
		SELECT 
			t.id,
		    t.contract_id contract_id,
		    t.mortgagee_acc_no mortgagee_acc_no,
		    t.acc_no acc_no,
		    t.seq_no seq_no,
		    t.mchn_child mchn,
		    t.rep_code resp_code,
			t.rep_msg resp_msg,
			t.contract_amt contract_amt,
			t.pay_amt pay_amt,
			t.loan_platform loanPlatform
			FROM t_gq_fss_loan t
			where 1=1
			<include refid="whereSql" />
	</select>
		<!-- 借款人放款列表 -->
	<select id="findBorrowerLoan"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		SELECT 
			t.id id,
		    t.contract_id contractId,
		    t.acc_no accNo,
			t.contract_amt contractAmt,
			t.rep_code repCode,
			t.seq_no seqNo,
			t.mortgagee_acc_no mortgageeAccNo,
			t.create_time createTime,
			t.modify_time modifyTime,
			t.mchn_parent mchnParent,
			t.mchn_child mchnChild,
			t.result result,
			t.trade_type tradeType,
			t.status status,
			t.rep_msg repMsg,
			t.pay_amt payAmt,
			t.loan_platform loanPlatform  	
			FROM t_gq_fss_loan t 
			where t.trade_type in ("11090001","11090002","11090010","11092001")
			<if test="contractId != null and contractId != ''">
				and t.contract_id like concat('%',#{contractId},'%')
			</if>
			<if test="seqNo != null and seqNo != ''">
				and t.seq_no like concat('%',#{seqNo},'%')
			</if>
			<if test="status != null and status != ''">
				and t.status like concat('%',#{status},'%')
			</if>
			<if test="mchnChild != null and mchnChild != ''">
				and t.mchn_child like concat('%',#{mchnChild},'%')
			</if>
			<choose>
				<when test="creatTime == null or creatTime == '' and modifyTime==null ">
					AND 1=1
				</when>
				<when test="creatTime != null and creatTime != '' and modifyTime==null or modifyTime=='' ">
					AND t.create_time BETWEEN #{creatTime} AND SYSDATE()
				</when>
				<when test="creatTime != null and creatTime != '' and modifyTime!=null and modifyTime!=''">
					AND t.create_time BETWEEN #{creatTime} AND #{modifyTime}
				</when>
				<when test="creatTime == null or creatTime == '' and modifyTime!=null and modifyTime!=''">
					AND t.create_time &lt; #{modifyTime} 
				</when>
			</choose>
	</select>

	<select id="findLoanBySettle" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity">
		SELECT
			t.id,
		    t.contract_id contract_id,
		    t.mortgagee_acc_no mortgagee_acc_no,
		    t.acc_no acc_no,
		    t.rep_code resp_code,
			t.rep_msg resp_msg,
			t.contract_amt contract_amt,
			t.pay_amt pay_amt,
			t.loan_platform loan_platform
		FROM t_gq_fss_loan t
		WHERE t.trade_type = 11090002 OR t.trade_type = 11092001) AND t.status = 10050001
	</select>
</mapper>
