<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.accounting.mapper.read.FssFundsFlowReadMapper">
	 <sql id="field">
		SELECT 
			t.id id,
		  	t.cust_no custNo, 
		  	t.acc_no accNo,
		  	t.accounting_no accountingNo,
		  	t.fund_type fundType,
		  	t.trade_type tradeType,
		  	t.income income,
		  	t.spending spending,
		  	t.balance balance,
		  	t.currency currency,
		  	t.lend_no lendNo,
		  	t.loan_no loanNo,
		  	t.trade_date tradeDate,
		  	t.trade_time tradeTime,
		  	t.summary summary,
		  	t.order_no orderNo,
		  	t.pay_channel payChannel,
		  	t.create_time createTime,
		  	t.modify_time modifyTime
		FROM t_gq_fss_accounting_funds_flow t
	 </sql>
	 
	 <select id="getFundsFlow" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.accounting.entity.FssFundsFlowEntity" >
		<include refid="field"/>
		WHERE 1=1
	</select>

</mapper>


