<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.customer.mapper.read.FssBankCardInfoReadMapper">
	<select id="getFssCustBankCardByCustNo" resultType="com.gqhmt.fss.architect.customer.entity.FssCustBankCardEntity" >
		SELECT
		t.cust_no custNo,
		t.cert_no certNo,
		t.card_no cardNo
		FROM t_gq_fss_bank_card_info t
		<where>
			t.cust_no=#{custNo}
		</where>
	</select>
	<select id="getFssCustBankCardByBankNo" resultType="com.gqhmt.fss.architect.customer.entity.FssCustBankCardEntity" >
		SELECT
		t.cust_no custNo,
		t.cert_no certNo,
		t.card_no cardNo
		FROM t_gq_fss_bank_card_info t
		<where>
			t.card_no=#{bankNo}
		</where>
	</select>
</mapper>
