<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.funds.architect.account.mapper.read.FundSequenceReadMapper">
	<sql id="filedSql">
		SELECT
			t.id id,
			t.actionType actionType,
			t.ACCOUNT_ID accountId,
			t.fund_type fundType,
			t.amount amount,
			t.currency currency,
			t.CREATE_TIME createTime,
			t.MODIFY_TIME modifyTime,
			t.thirdparty_type thirdPartyType,
			t.order_no orderNo,
			t.sumary sumary,
			t.O_ACCOUNT_ID oAccountId,
			t.token token,
			t.s_order_no sOrderNo,
			t.cust_id custId,
			t.lend_no lendNo,
			t.to_cust_id toCustId,
			t.to_lend_no toLendNo,
			t.loan_cust_id loanCustId,
			t.loan_no loanNo,
			t.new_fund_type newFundType,
			t.trade_type tradeType
		  FROM  t_gq_fund_sequence t
	</sql>
	<select id="selectAccountSequenceList" parameterType="java.util.Map" resultType="com.gqhmt.funds.architect.account.bean.FundAccountSequenceBean">
		SELECT 
		b.id id,
		b.account_no accountNo,
		a.CUSTOMER_NAME	customerName,
		b.account_type accountType,
		b.busi_type busiType,
		b.cust_id custId,
		c.actionType actionType,
		c.amount amount,
		c.CREATE_TIME creatTime,
		c.thirdparty_type thirdPartyType
		FROM `t_gq_customer_info` a ,`t_gq_fund_account` b ,t_gq_fund_sequence c 
		where a.ID=b.user_id AND c.ACCOUNT_ID=b.id and  b.id=#{id}
        <if test="customerName != null and customerName != ''">
        and a.CUSTOMER_NAME like concat('%',#{customerName},'%') 
        </if>
        <if test="accountType != null and accountType != ''">
        and b.account_type=#{accountType}
        </if>
        <if test="busiType != null and busiType != ''">
        and b.busi_type=#{busiType}
        </if>
        <if test="actionType != null and actionType != ''">
        and c.actionType=#{actionType}
        </if>
		<choose>
             <when test="startDate == null or startDate == '' and endDate==null or endDate==''">
               AND 1=1
              </when>
                <when test="startDate != null and startDate != '' and endDate==null or endDate=='' ">
                AND c.create_time BETWEEN #{startDate} AND SYSDATE()
              </when>
              <when test="startDate != null and startDate != '' and endDate!=null and endDate!=''">
               AND c.create_time BETWEEN #{startDate} AND #{endDate}
              </when>
              <when test="startDate == null or startDate == '' and endDate!=null and endDate!=''">
               AND c.create_time &lt; #{endDate}
              </when>
         </choose>
	</select>
	<!-- 查询账户资金流水 -->
	<select id="getFundSequence" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.trade.bean.FundFlowBean">
		SELECT 
			s.fund_type as fundType,
			s.amount as amount,
			date_format(s.create_time,'%Y-%m-%d %H:%i:%m') as create_time,
			date_format(s.create_time,'%Y-%m') as create_ym
		From t_gq_fund_account a,t_gq_fund_sequence s 
		WHERE a.id = s.account_id and (a.busi_type=3 or a.busi_type=99) and a.user_id=${user_no}
		<choose>
			<when test="fundType == 1012">
				AND s.fund_type in(1003,1012)
			</when>
			<when test="fundType == 1002">
				AND s.fund_type in(1001,1002)
			</when>
			<when test="fundType == 3001">
				AND s.fund_type =3001
			</when>
			<when test="fundType == 4010">
				AND s.fund_type =4010
			</when>
			<when test="fundType == 3005">
				AND s.fund_type in(3005,3006)
			</when>
		</choose>
		
	</select>
	
	<!-- 查询资金流水 -->
	<select id="selectAllFundFlow" parameterType="com.gqhmt.fss.architect.trade.bean.FundFlowBean" resultType="com.gqhmt.fss.architect.trade.bean.FundFlowBean">
		SELECT 
			a.cust_id custId,
			a.amount amount,
			a.freeze_amount freezeAmount,
			a.account_type accountType,
			a.busi_type busiType,
			a.CREATE_TIME create_time,
			a.MODIFY_TIME modifyTime,
			a.account_no accountNo,
			a.cust_name userName,
			a.has_Third_Account hasThirdAccount,
			a.city_id cityId,
			a.bankNo bankNo,
			s.fund_type fundType,
			s.actionType actionType
		From t_gq_fund_account a,t_gq_fund_sequence s 
		WHERE a.id = s.account_id AND (a.busi_type=3 or a.busi_type=99)
		<if test="accountNo != null and accountNo != ''">
			AND a.account_no like CONCAT('%',#{accountNo},'%') 
		</if>
	</select>
	<!--通过order_no获取订单入账数量-->
	<select id="getSizeByOrderNo" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT 
			count(*)
		From t_gq_fund_sequence t
		where t.order_no=#{orderNo}
	</select>
	<!--通过s_order_no获取订单入账数量-->
	<select id="getSizeBySOrderNo" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			count(*)
		From t_gq_fund_sequence t
		where t.s_order_no=#{sOrderNo}
	</select>

<!-- 	
	<select id="getSumByDay" resultType="com.gqhmt.funds.architect.account.entity.FundSequenceEntity">
		SELECT a.ACCOUNT_ID,cus.MOBILE_PHONE,
		IFNULL((SELECT SUM(seq.amount) FROM t_gq_fund_sequence seq 
		WHERE seq.ACCOUNT_ID = t.id  AND seq.amount > 0	 
		<![CDATA[AND DATE_FORMAT(seq.CREATE_TIME, '%Y%m%d%H') >=DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y%m%d18')]]>
		<![CDATA[AND DATE_FORMAT(seq.CREATE_TIME, '%Y%m%d%H') < DATE_FORMAT(NOW(), '%Y%m%d18')),0)]]> income,
		ABS(IFNULL((SELECT SUM(seq.amount) FROM t_gq_fund_sequence seq 
		WHERE seq.ACCOUNT_ID = t.id  AND  seq.amount < 0 
		<![CDATA[AND DATE_FORMAT(seq.CREATE_TIME, '%Y%m%d%H') >=DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y%m%d18')]]> 
		<![CDATA[AND DATE_FORMAT(seq.CREATE_TIME, '%Y%m%d%H') < DATE_FORMAT(NOW(), '%Y%m%d18')),0 )) repay ]]>
		FROM t_gq_fund_account t, t_gq_fund_sequence a ,t_gq_customer_info cus
		WHERE t.id = a.ACCOUNT_ID 
        AND t.cust_id = cus.id 
		AND t.busi_type = 3 
		<![CDATA[AND DATE_FORMAT(a.CREATE_TIME, '%Y%m%d%H') >= DATE_FORMAT( DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y%m%d18')]]> 
		<![CDATA[AND DATE_FORMAT(a.CREATE_TIME, '%Y%m%d%H') <  DATE_FORMAT(NOW(), '%Y%m%d18')]]>
		GROUP BY a.ACCOUNT_ID 
	</select>
	 -->
	 
	 <!-- 统计当月充值、提现总金额 -->
	 <select id="queryMonthTotal" parameterType="java.lang.String" resultType="com.gqhmt.fss.architect.asset.entity.FssStatisticsEntity">
		select 
		(select 
			IFNULL(SUM(t.amount),0.00) from t_gq_fund_sequence t,t_gq_fund_account a 
			where t.ACCOUNT_ID=a.id 
			and a.cust_id=#{custId} 
			and a.busi_type=3
			and t.fund_type in(1001,1002) 
			and date_format(t.CREATE_TIME,'%Y-%m') = date_format(now(),'%Y-%m')) rechargeTotal,
		(select 
			IFNULL(-SUM(t.`amount`),0.00) from t_gq_fund_sequence t,t_gq_fund_account a 
			where t.ACCOUNT_ID=a.id 
			and a.cust_id=#{custId} 
			and a.busi_type=3
			and t.fund_type =2003 
			and date_format(t.CREATE_TIME,'%Y-%m') = date_format(now(),'%Y-%m')) withdrawTotal
	</select>
	<!--通过订单号查询流水列表-->
	 <select id="queryByOrderNo" parameterType="java.lang.String" resultType="com.gqhmt.funds.architect.account.entity.FundSequenceEntity">
		<include refid="filedSql"/>
		 WHERE t.order_no =#{orderNo}
	 </select>
	<!--通过s_order_no查询流水列表-->
	 <select id="queryBySOrderNo" parameterType="java.lang.String" resultType="com.gqhmt.funds.architect.account.entity.FundSequenceEntity">
		<include refid="filedSql"/>
		 WHERE t.s_order_no =#{sOrderNo}
	 </select>


</mapper>
