<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.funds.architect.account.mapper.read.FundsAccountReadMapper">
 
	<sql id="fieldSql">
		  SELECT
		  	 id,
			 cust_id custId,
			 amount,
			 freeze_amount freezeAmount,
			 account_type accountType,
			 busi_type busiType,
			 parent_id parentId,
			 CREATE_TIME createTime,
			 MODIFY_TIME modifyTime,
			 account_no accountNo,
			 user_id userId,
			 has_Third_Account hasThirdAccount,
			 user_name userName,
			 cust_name custName,
			 settle_type settleType,
			 is_change_bank_card ishangeBankCard,
			 bankNo,
			 parent_bank_id parentBankId,
			 city_id cityId
		  FROM
			 t_gq_fund_account
	</sql>


	<select id="queryFundAccountByCutId" resultType="com.gqhmt.funds.architect.account.entity.FundAccountEntity">
		<include refid="fieldSql" />

		where cust_id = ${cusID} and busi_type = ${type}
	</select>

	<!-- 账户管理 -->
	<select id="findAcountList" parameterType="java.util.Map" resultType="com.gqhmt.funds.architect.account.bean.FundAccountCustomerBean">
		SELECT
		b.id id,
		a.CUSTOMER_NAME	customerName,
		a.SEX sex,
		a.CERT_NO certNo,
		a.MOBILE_PHONE mobilePhone,
		b.account_type accountType,
		b.busi_type busiType,
		b.cust_id custId,
		b.account_no accountNo,
		b.amount amount,
		b.CREATE_TIME creatTime,
		b.freeze_amount freezeAmount,
		b.has_Third_Account hasThirdAccount
		FROM `t_gq_customer_info` a RIGHT JOIN `t_gq_fund_account` b ON a.ID=b.cust_id
		<where>
			and b.busi_type=0
			<if test="custId=='101'">
				and b.cust_id &gt; 100
			</if>
			<if test="custId=='99'">
				and b.cust_id  &lt; 100
			</if>
			<if test="customerName != null and customerName != ''">
				and a.CUSTOMER_NAME like concat('%',#{customerName},'%')
			</if>
			<if test="startTime != null and startTime != '' ">
				and date_format(b.create_time,'%Y%m%d') &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != '' ">
				and date_format(b.create_time,'%Y%m%d') &lt;= #{endTime}
			</if>
		</where>
	</select>
<!-- 	找到指定的客户 -->
	<select id="fundAccountCustomerById" parameterType="java.lang.Integer" resultType="com.gqhmt.funds.architect.account.bean.FundAccountCustomerBean">
		 SELECT 
		b.id id,
		a.CUSTOMER_NAME	customerName,
		a.SEX sex,
		a.CERT_NO certNo,
		a.MOBILE_PHONE mobilePhone,
		b.account_type accountType,
		b.busi_type busiType,
		b.cust_id custId,
		b.account_no accountNo,
		b.amount amount,
		b.CREATE_TIME creatTime,
		b.freeze_amount freezeAmount,
		b.has_Third_Account hasThirdAccount
		FROM `t_gq_customer_info` a , `t_gq_fund_account` b where a.ID=b.user_id and b.id=#{withHoldId}
	</select>
	
	
	<select id="getAccountBanlance" resultType="com.gqhmt.funds.architect.account.entity.FundAccountEntity">
		<include refid="fieldSql" />
		where cust_id = ${cust_no} and busi_type = ${busi_type}
	</select>
	
	<select id="selectFundAccountEntity" parameterType="java.lang.String" resultType="com.gqhmt.funds.architect.account.entity.FundAccountEntity">
		SELECT
		  	 id,
			 cust_id custId,
			 amount,
			 freeze_amount freezeAmount,
			 account_type accountType,
			 busi_type busiType,
			 parent_id parentId,
			 CREATE_TIME createTime,
			 MODIFY_TIME modifyTime,
			 account_no accountNo,
			 user_id userId,
			 has_Third_Account hasThirdAccount,
			 user_name userName,
			 cust_name custName,
			 settle_type settleType,
			 is_change_bank_card ishangeBankCard
		  FROM
			 t_gq_fund_account
		WHERE account_no = #{accNo}
	</select>

	<select id="getFundsAccountByBusiType" parameterType="java.lang.String" resultType="com.gqhmt.funds.architect.account.entity.FundAccountEntity">
		<include refid="fieldSql" />
		where busi_type = #{busi_type}
		order by CREATE_TIME desc
	</select>
	
	
	
</mapper>
