<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gqhmt.sys.mapper.read.DictOrderReadMapper">
	<select id="selectDictOrder" parameterType="DictOrder" resultType="DictOrder">
		SELECT
		t.id,
		t.order_name orderName,
		t.order_dict orderDict,
		t.order_list orderList,
		t.memo
		FROM t_gq_fss_dict_order t
		<where>
			<if test="orderDict !=null and orderDict != ''">
				and t.order_dict like  CONCAT('%',#{orderDict},'%') 
			</if>
		</where>
	</select>
	
</mapper>
