<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gqhmt.sys.mapper.read.DictOrderReadMapper">
	<select id="selectDictOrder" parameterType="DictOrder" resultType="DictOrder">
		SELECT
		t.id,
		t.name,
		t.order_dict orderDict,
		t.order,
		t.memo
		FROM `t_gq_fss_dict_order` t
	</select>
	
</mapper>
