<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sys.mapper.read.FuncListReadMapper">
	<sql id="fieldSql">
		select id funcId,
			parent_id parentId,
			func_url funcUrl,
			func_name funcName,
			is_menu isMenu,
			type,
			ico_class icoClass

		from t_sys_func_list where 1=1 and is_del=1
	</sql>
	<sql id="whereSql">
		
	</sql>
	<sql id="otherSql">
		<choose>
		<when test="orderStr != null">
			order by ${orderStr}
		</when>
		<otherwise>
			order by parent_id asc,sort desc
		</otherwise>
		</choose>
	</sql>
	<select id="selectFuncList" resultType="com.gqhmt.sys.beans.SysAuthFunc">
		<include refid="fieldSql"/>
		<include refid="whereSql"/>
		order by parent_id asc,sort desc
	</select>
</mapper>
