<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sys.mapper.read.RolesReadMapper">
	<sql id="fieldSql">
		select id,
			role_name roleName,
			is_del isDel,
			create_time createTime,
			create_id createId,
			modify_date modifyDate,
			modify_id modifyId,
			status,
			description
		from t_roles where 1=1 and is_del=1
	</sql>
	<sql id="whereSql">
		<if test="roleName != null || roleName != ''" >
        	and role_name like '%'||#{roleName}||'%'
      	</if>
      	<if test="status >0" >
        	and status = #{status}
      	</if>
      		and is_del=1
	</sql>
	<select id="selectRoles" resultType="Roles">
		<include refid="fieldSql"/>
	</select>
	
	<select id="selectRolesList" resultType="Roles">
        <include refid="fieldSql"/>
        <include refid="whereSql"/>
        order by id desc
	</select>
    <select id="selectRolesListAll" resultType="Roles">
        <include refid="fieldSql"/>
        order by id desc
    </select>
	
	<select id="count" resultType="int">
		select count(id) from t_roles where 1=1
			<include refid="whereSql"/>
	</select>
	
	<select id="selectRoleById" resultType="Roles">
		<include refid="fieldSql"/>
		and id=#{id} and is_del=1
	</select>
</mapper>
