<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sys.mapper.read.SysAuthReadMapper">
	<sql id="fieldSql">
	</sql>
	<sql id="whereSql">
	</sql>
	<select id="selectRoleFuncs" resultType="SysAuthFunc">
	select a.func_id funcId,f.func_url funcUrl,f.is_menu isMenu,f.func_name funcName,f.parent_id parentId,a.role_id roleId,f.type
		from t_sys_authorization  a  
		left join t_func_list f on f.id =a.func_id
		 where f.is_del=1 and a.is_del=1 order by f.parent_id asc,f.sort desc
	</select>
	
	<select id="selectRoleFuncByRoleId" resultType="SysAuth">
		select id,func_id funcId,role_id roleId from t_sys_authorization where is_del=1 and role_id=#{roleId}
	</select>
</mapper>
