<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sys.mapper.read.SysLogReadMapper">
	<sql id="fieldSql">
		select id,
			user_id userId,
			login_time loginTime,
			login_name loginName,
			department,
			ip
		from t_sys_log where 1=1
	</sql>
	<sql id="whereSql">
		<if test="loginName !=null and loginName!=''">
			and login_name like '%'||#{loginName}||'%'
		</if>
		<if test="department != null and department!=''">
			and department like '%'||#{department}||'%'
		</if>
			<if test="loginTime1 != null and loginTime1!=''">
			and to_char(login_time,'yyyy-mm-dd') >= #{loginTime1}
		</if>
			<if test="loginTime2 != null and loginTime2!=''">
			and  #{loginTime2}>= to_char(login_time,'yyyy-mm-dd')
		</if>
	</sql>
	<select id="selectLogs" resultType="com.gqhmt.sys.beans.SysLog">
		<include refid="fieldSql"/>
		<include refid="whereSql"/>
		order by id desc
	</select>

    <select id="selectMyLogs" resultType="com.gqhmt.sys.beans.SysLog">
        <include refid="fieldSql"/>
        and user_id = #{userID} and login_time >= sysdate-15
        order by id desc
    </select>
	<select id="selectLogs1" resultType="com.gqhmt.sys.beans.SysLog">
		<include refid="fieldSql"/>
		<include refid="whereSql"/>
		 order by id desc
	</select>
	
</mapper>
