<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sys.mapper.read.SysUsersReadMapper">
	<sql id="fieldSql">
		select id,
				login_name loginName,
				user_name userName,
				password,
				role_ids roleIds,
				employee_no employeeNo,
				user_tel userTel,
				create_id createId,
				create_time createTime,
				modify_id modifyId,
				modify_date modifyDate,
				is_del isDel,
				sex,department,description,leader,job,company,status
		from t_sys_users where 1=1
	</sql>
	<sql id="whereSql">
        <if test="employeeNo != null || employeeNo!=''">
            and employee_no like '%'||#{employeeNo}||'%'
        </if>
        <if test="userName != null || userName!=''">
            and user_name like '%'||#{userName}||'%'
        </if>
         <if test="department != null || department!=''">
             and department like '%'||#{department}||'%'
         </if>
         <if test="company != null || company!=''">
             and company like '%'||#{company}||'%'
         </if>
         <if test="isDel>0 ||isDel==-1 ">
             and is_del=#{isDel}
         </if>
         <if test="leader != null || leader!=''">
             and leader like '%'||#{leader}||'%'
         </if>
	</sql>
	<select id="selectSysUsersByLoginName" resultType="com.gqhmt.sys.beans.SysUsers">
		<include refid="fieldSql"/>
		and login_name=#{loginName}
	</select>
	<select id="selectSysUsersById" resultType="com.gqhmt.sys.beans.SysUsers">
		<include refid="fieldSql"/>
		and id=#{id} and is_del=1
	</select>
	<select id="selectSysUsers" resultType="com.gqhmt.sys.beans.SysUsers">
        <include refid="fieldSql"/>
        <include refid="whereSql"/>
        order by id desc
	</select>
	
	<select id="selectUsers" resultType="com.gqhmt.sys.beans.SysUsers">
		<include refid="fieldSql"/>
	</select>
	
	
	<sql id="checkSql">
		<if test="loginName!=null and loginName!=''">
			and login_name=#{loginName}
		</if>
		<if test="employeeNo!=null and employeeNo!=''">
			and employee_no=#{employeeNo}
		</if>
		<if test="userTel!=null and userTel!=''">
			and user_tel=#{userTel}
		</if>
		<if test="id>0">
			and id!=#{id}
		</if>
	</sql>
	
	<select id="querySysUsers" resultType="com.gqhmt.sys.beans.SysUsers">
        <include refid="fieldSql"/>
        <if test="userName != null and userName !=''">
            and (user_name like #{userName} or employee_no like #{userName})
		</if>
        order by id desc
	</select>

</mapper>
