<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.loan.mapper.read.FssLoanReadMapper">

	<sql id="whereSql">
			<if test="mchnNo != null and mchnNo != ''">
				and t.mchn_child = #{mchnNo}
			</if>
			<if test="seqNo != null and seqNo != ''">
				and t.seq_no = #{seqNo}
			</if>
	</sql>
	<sql id="selectSql">
	SELECT 
			t.id id,
		    t.contract_id contractId,
		    t.contract_no contractNo,
		    t.acc_no accNo,
			t.contract_amt contractAmt,
			t.rep_code repCode,
			t.seq_no seqNo,
			t.user_no userNo,
			t.cust_no custNo,
			t.mortgagee_acc_no mortgageeAccNo,
			t.create_time createTime,
			t.modify_time modifyTime,
			t.mchn_parent mchnParent,
			t.mchn_child mchnChild,
			t.result result,
			t.trade_type tradeType,
			t.status status,
			t.rep_msg repMsg,
			t.pay_amt payAmt,
			t.rep_code repCode,
			t.trade_type_parent tradeTypeParent,
			t.rep_msg repMsg, 
			t.busi_no busiNo, 
			t.loan_platform loanPlatform  	
			FROM t_gq_fss_loan t 
	</sql>
	<!-- 得到借款人放款回调对象 -->
	<select id="getResponse"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		SELECT 
			t.id,
		    t.mchn_child mchnChild,
		    t.seq_no seqNo,
		    t.trade_type tradeType,
		    t.contract_id contractId,
		    t.contract_no contractNo,
		    t.mortgagee_acc_no mortgageeAccNo,
		    t.acc_no accNo,
			t.contract_amt contractAmt,
			t.contract_interest contractInterest,
			t.pay_amt payAmt,
		    case when 
			t.status='10050007' then '0000' 
			else t.status  end repCode,
			t.loan_platform loanPlatform
			FROM t_gq_fss_loan t
			where 1=1
			<include refid="whereSql" />
	</select>
	<!-- 抵押权人提现回盘 -->
	<select id="getMortgageeWithDrawRespons"  parameterType="java.util.Map" resultType="com.gqhmt.extServInter.dto.loan.MortgageeWithDrawRespons" >
		SELECT 
		    t.seq_no seq_no,
		    t.mchn_child mchn,
		    t.trade_type trade_type,
		    t.contract_id contract_id,
		    t.contract_no contract_no,
		    t.acc_no acc_no,
			t.pay_amt pay_amt,
			t.contract_amt contract_amt,
			case when 
			t.status='10050009' then '0000' 
			else '0001'  end resp_code
			FROM t_gq_fss_loan t 
			where 1=1
			<include refid="whereSql" />
	</select>
	<!-- 冠e通回盘 -->
	<select id="getBidApplyResponse"  parameterType="java.util.Map" resultType="com.gqhmt.extServInter.dto.p2p.BidApplyResponse" >
		SELECT 
		    t.seq_no seq_no,
		    t.mchn_child mchn,
			case when
			t.trade_type_parent='11101001' then t.busi_no
			WHEN
			t.trade_type_parent='11101002' then t.busi_no
			else t.contract_id  end busi_no,
			case when
			t.trade_type_parent='11101001' then '11101001'
			WHEN
			t.trade_type_parent='11101002' then '11101002'
			else t.trade_type END  trade_type,
			case when 
			t.status='10050101' then '0000' 
			WHEN 
			t.status='10050007' then '0000'
			WHEN 
			t.status='10050009' then '0000'
			WHEN
			t.status='10050013' then '0000'
			WHEN 
			t.status='10050100' then '0000'
			else t.status  end resp_code
			FROM t_gq_fss_loan t 
			where 1=1 
			<include refid="whereSql" />
	</select>
	<!-- 流标回盘回盘 -->
	<select id="getFailedBidResponse"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		SELECT 
		    t.seq_no seq_no,
		    t.mchn_child mchn,
		    t.trade_type trade_type,
		    t.contract_id contract_id,
		    t.contract_no contract_no,
		    t.mortgagee_acc_no mortgagee_acc_no,
		    t.acc_no acc_no,
			t.contract_amt contract_amt,
			t.pay_amt pay_amt,
		   	case when 
			t.status='10050100' then '0000' 
			else t.status  end resp_code,
			t.loan_platform loan_platform
			FROM t_gq_fss_loan t
			where 1=1
			<include refid="whereSql" />
	</select>
		<!-- 借款人放款列表 -->
	<select id="findBorrowerLoan"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		<include refid="selectSql" />
			where 1=1 
 			<if test="contractNo!=null and contractNo!=''"> 
				and t.contract_no like concat('%',#{contractNo},'%') 
 			</if> 
 			<if test="status!=null and status!=''"> 
 				and t.status = #{status}
			</if> 
			<if test="custNo!=null and custNo!=''">
				and t.cust_no like concat('%',#{custNo},'%')
 			</if> 
			<if test="startTime!=null and startTime!=''">
				and date_format(t.create_time,'%Y%m%d') &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != '' ">
				and date_format(t.create_time,'%Y%m%d') &lt;= #{endTime}
			</if>
			<if test="type!=null and type!=''">
				AND t.trade_type = #{type}
			</if>
			order by t.create_time desc
	</select>
<!-- 	通过tradeType查询得到列表数据 -->
	<select id="findByType"  parameterType="java.lang.String" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		<include refid="selectSql" />
			where  t.trade_type = #{type}
			order by t.create_time desc
	</select>
<!-- 	交易类型.标的Id查询满标信息是否存在 -->
	<select id="getFssLoanEntityByBidBusiNo" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		<include refid="selectSql" />
			where  t.trade_type = #{tradeType} AND  t.contract_id=#{busiBidNo} AND t.status!='10050014'
	</select>
<!--（回款编号，交易类型，回款类型）查询回款信息是否存在-->
	<select id="getLoanRepayment" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity" >
		<include refid="selectSql" />
			where  t.trade_type = #{repayType} AND t.trade_type_parent = #{tradeType} AND t.busi_no =#{repayNo} AND t.status!='10050014'
	</select>
<!-- 	满标放款  11090002 ，信用标放款      11092001， 抵押权人提现     11090004，冠e通满标-->
	<select id="findLoanBySettle" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity">
		<include refid="selectSql" />
		WHERE (t.trade_type = 11090002 OR t.trade_type = 11092001 OR t.trade_type = 11090004 OR t.trade_type = 11090006) AND t.status = 10050010
		order by t.create_time desc
	</select>
<!-- 	回款  11100001 ，提前回款     11100002， 正常回款    11100003，逾期回款-->
	<select id="findLoanRepayment" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity">
		<include refid="selectSql" />
		WHERE (t.trade_type = 11100001 OR t.trade_type = 11100002 OR t.trade_type = 11100003) AND t.status = 10050011
		order by t.create_time desc
	</select>
<!-- 	流标  11090011 ，信用标流标           11090012，冠e通流标-->
	<select id="findAbortBid" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity">
		<include refid="selectSql" />
		WHERE (t.trade_type = 11090011 or t.trade_type=11090012 ) AND t.status = 10050103
		order by t.create_time desc
	</select>
	
	<!-- 用来导出线下数据 -->
	<select id="findBorrowerLoanOffline" resultType="com.gqhmt.fss.architect.loan.bean.FssLoanBean" >
			SELECT 
				c.`name` custName,
				c.cert_no certNo,
		    	t.contract_no contractNo,
		    	t.acc_no accNo,
			  	t.contract_amt contractAmt,
        		t.mchn_child mchn
			FROM t_gq_fss_loan t,t_gq_fss_customer c WHERE t.cust_no=c.cust_no
			<!-- AND t.trade_type=#{type} -->
			<!-- <if test="type !=null and type != '' ">
				AND t.trade_type = #{type}
			</if> -->
	</select>
	<select id="selectFssLoanList" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity">
		SELECT
			t.id id,
			t.cust_no custNo,
			t.user_no userNo,
			t.contract_no contractNo,
			t.contract_interest contractInterest,
			t.contract_id contractId,
			t.acc_no accNo,
			t.contract_amt contractAmt,
			t.pay_amt payAmt,
			t.bespoke_date bespokeDate,
			t.trade_type_parent tradeTypeParent,
			t.trade_type tradeType,
			t.mortgagee_acc_no mortgageeAccNo,
			t.seq_no seqNo,
			t.create_time createTime,
			t.modify_time modifyTime,
			t.mchn_parent mchnParent,
			t.mchn_child mchnChild,
			t.loan_platform loanPlatform,
			t.status,
			t.result,
			t.rep_code repCode,
			t.rep_msg repMsg,
			t.busi_no busiNo,
			t.withDraw_status withDrawStatus,
			t.order_no orderNo
		FROM t_gq_fss_loan t
		WHERE 1 = 1
		<if test="id != null and id != ''">
			AND t.id = cast(#{id} as signed int)
		</if>
		<if test="custNo != null and custNo != ''">
			AND t.cust_no = #{custNo}
		</if>
		<if test="userNo != null and userNo != ''">
			AND t.user_no = #{userNo}
		</if>
		<if test="contractNo != null and contractNo != ''">
			AND t.contract_no = #{contractNo}
		</if>
		<if test="contractInterest != null and contractInterest != ''">
			AND t.contract_interest = cast(#{contractInterest} as signed decimal(38,2))
		</if>
		<if test="contractId != null and contractId != ''">
			AND t.contract_id = #{contractId}
		</if>
		<if test="accNo != null and accNo != ''">
			AND t.acc_no = #{accNo}
		</if>
		<if test="contractAmt != null and contractAmt != ''">
			AND t.contract_amt = cast(#{contractAmt} as signed decimal(38,2))
		</if>
		<if test="payAmt != null and payAmt != ''">
			AND t.pay_amt = cast(#{payAmt} as signed decimal(38,2))
		</if>
		<if test="bespokeDate != null and bespokeDate != ''">
			AND date_format(t.bespoke_date,'%Y-%m-%d') = #{bespokeDate}
		</if>
		<if test="tradeTypeParent != null and tradeTypeParent != ''">
			AND t.trade_type_parent = #{tradeTypeParent}
		</if>
		<if test="tradeType != null and tradeType != ''">
			AND t.trade_type = #{tradeType}
		</if>
		<if test="mortgageeAccNo != null and mortgageeAccNo != ''">
			AND t.mortgagee_acc_no = #{mortgageeAccNo}
		</if>
		<if test="seqNo != null and seqNo != ''">
			AND t.seq_no = #{seqNo}
		</if>
		<if test="createTime != null and createTime != ''">
			AND date_format(t.create_time,'%Y-%m-%d') = #{createTime}
		</if>
		<if test="modifyTime!=null and modifyTime!=''">
			AND date_format(t.modify_time,'%Y-%m-%d') = #{modifyTime}
		</if>
		<if test="mchnParent!=null and mchnParent!=''">
			AND t.mchn_parent = #{mchnParent}
		</if>
		<if test="mchnChild!=null and mchnChild!=''">
			AND t.mchn_child = #{mchnChild}
		</if>
		<if test="loanPlatform!=null and loanPlatform!=''">
			AND t.loan_platform = #{loanPlatform}
		</if>
		<if test="status!=null and status!=''">
			AND t.status = #{status}
		</if>
		<if test="result!=null and result!=''">
			AND t.result = #{result}
		</if>
		<if test="repCode!=null and repCode!=''">
			AND t.rep_code = #{repCode}
		</if>
		<if test="repMsg!=null and repMsg!=''">
			AND t.rep_msg = #{repMsg}
		</if>
		<if test="busiNo!=null and busiNo!=''">
			AND t.busi_no = #{busiNo}
		</if>
		<if test="withDrawStatus!=null and withDrawStatus!=''">
			AND t.withDraw_status = #{withDrawStatus}
		</if>
		<if test="orderNo!=null and orderNo!=''">
			AND t.order_no = #{orderNo}
		</if>
		ORDER BY t.modify_time
	</select>

	
</mapper>
