<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.funds.architect.account.mapper.read.FundSequenceReadMapper">
	<select id="selectAccountSequenceList" parameterType="java.util.Map" resultType="com.gqhmt.funds.architect.account.bean.FundAccountSequenceBean">
		SELECT 
		b.id id,
		b.account_no accountNo,
		a.CUSTOMER_NAME	customerName,
		b.account_type accountType,
		b.busi_type busiType,
		b.cust_id custId,
		c.actionType actionType,
		c.amount amount,
		c.CREATE_TIME creatTime,
		c.thirdparty_type thirdPartyType
		FROM `t_gq_customer_info` a ,`t_gq_fund_account` b ,t_gq_fund_sequence c 
		where a.ID=b.user_id AND c.ACCOUNT_ID=b.id and  b.id=#{id}
        <if test="customerName != null and customerName != ''">
        and a.CUSTOMER_NAME like concat('%',#{customerName},'%') 
        </if>
        <if test="accountType != null and accountType != ''">
        and b.account_type=#{accountType}
        </if>
        <if test="busiType != null and busiType != ''">
        and b.busi_type=#{busiType}
        </if>
        <if test="actionType != null and actionType != ''">
        and c.actionType=#{actionType}
        </if>
		<choose>
             <when test="startDate == null or startDate == '' and endDate==null or endDate==''">
               AND 1=1
              </when>
                <when test="startDate != null and startDate != '' and endDate==null or endDate=='' ">
                AND c.create_time BETWEEN #{startDate} AND SYSDATE()
              </when>
              <when test="startDate != null and startDate != '' and endDate!=null and endDate!=''">
               AND c.create_time BETWEEN #{startDate} AND #{endDate}
              </when>
              <when test="startDate == null or startDate == '' and endDate!=null and endDate!=''">
               AND c.create_time &lt; #{endDate}
              </when>
         </choose>
	</select>
	
	<select id="queryFundTradeFlow" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.trade.bean.FundFlowBean">
		SELECT 
			s.fund_type fundType,
			s.amount amount,
			date_format(s.create_time,'%Y-%m-%d %H:%i') create_time,
			date_format(s.create_time,'%Y-%m') ym
		From t_gq_fund_account a,t_gq_fund_sequence s 
		WHERE a.id = s.account_id and (a.busi_type=3 or a.busi_type=99) and a.user_id=${user_no}
		<choose>
			<when test="fundType == 1012">
				AND s.fund_type in(1003,1012)
			</when>
			<when test="fundType == 1002">
				AND s.fund_type in(1001,1002)
			</when>
			<when test="fundType == 3001">
				AND s.fund_type =3001
			</when>
			<when test="fundType == 4010">
				AND s.fund_type =4010
			</when>
			<when test="fundType == 3005">
				AND s.fund_type in(3005,3006)
			</when>
		</choose>
		
	</select>
	
<!-- 	
	<select id="getSumByDay" resultType="com.gqhmt.funds.architect.account.entity.FundSequenceEntity">
		SELECT a.ACCOUNT_ID,cus.MOBILE_PHONE,
		IFNULL((SELECT SUM(seq.amount) FROM t_gq_fund_sequence seq 
		WHERE seq.ACCOUNT_ID = t.id  AND seq.amount > 0	 
		<![CDATA[AND DATE_FORMAT(seq.CREATE_TIME, '%Y%m%d%H') >=DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y%m%d18')]]>
		<![CDATA[AND DATE_FORMAT(seq.CREATE_TIME, '%Y%m%d%H') < DATE_FORMAT(NOW(), '%Y%m%d18')),0)]]> income,
		ABS(IFNULL((SELECT SUM(seq.amount) FROM t_gq_fund_sequence seq 
		WHERE seq.ACCOUNT_ID = t.id  AND  seq.amount < 0 
		<![CDATA[AND DATE_FORMAT(seq.CREATE_TIME, '%Y%m%d%H') >=DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y%m%d18')]]> 
		<![CDATA[AND DATE_FORMAT(seq.CREATE_TIME, '%Y%m%d%H') < DATE_FORMAT(NOW(), '%Y%m%d18')),0 )) repay ]]>
		FROM t_gq_fund_account t, t_gq_fund_sequence a ,t_gq_customer_info cus
		WHERE t.id = a.ACCOUNT_ID 
        AND t.cust_id = cus.id 
		AND t.busi_type = 3 
		<![CDATA[AND DATE_FORMAT(a.CREATE_TIME, '%Y%m%d%H') >= DATE_FORMAT( DATE_SUB(NOW(), INTERVAL 1 DAY),'%Y%m%d18')]]> 
		<![CDATA[AND DATE_FORMAT(a.CREATE_TIME, '%Y%m%d%H') <  DATE_FORMAT(NOW(), '%Y%m%d18')]]>
		GROUP BY a.ACCOUNT_ID 
	</select>
	 -->
</mapper>
