<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.funds.architect.account.mapper.read.FundAccountReadMapper">

	<sql id="fieldSql">
		  SELECT
		  	 id,
			 cust_id custId,
			 amount,
			 freeze_amount freezeAmount,
			 account_type accountType,
			 busi_type busiType,
			 parent_id parentId,
			 CREATE_TIME createTime,
			 MODIFY_TIME modifyTime,
			 account_no accountNo,
			 user_id userId,
			 has_Third_Account hasThirdAccount,
			 user_name userName,
			 cust_name custName,
			 settle_type settleType,
			 is_change_bank_card ishangeBankCard
		  FROM
			 t_gq_fund_account
	</sql>


	<select id="queryFundAccountByCutId" resultType="com.gqhmt.funds.architect.account.entity.FundAccountEntity">
		<include refid="fieldSql" />

		where cust_id = ${cusID} and busi_type = ${type}
	</select>


</mapper>
