<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.trade.mapper.read.FssBondTransferReadMapper">
	<sql id="selectSql">
		SELECT 
		  t.`id` id,
		  t.`cust_id` custId,
		  t.`cust_no` custNo,
		  t.`cust_name` custName,
		  t.`acc_no` accNo,
		  t.`acc_type` accType,
		  t.`bid_id` bidId,
		  t.`busi_bid_no` busiBidNo,
		  t.`tender_no` tenderNo,
		  t.`o_tender_no` oTenderNo,
		  t.`o_cust_no` oCustNo,
		  t.`busi_no` busiNo,
		  t.`o_busi_no` oBusiNo,
		  t.`busi_type` busiType,
		  t.`trade_type` tradeType,
		  t.`amount` amount,
		  t.`trade_state` tradeState,
		  t.`create_time` createTime,
		  t.`modify_time` modifyTime,
		  t.`mchn` mchn,
		  t.`seq_no` seqNo
		FROM `t_gq_fss_debt_transfer` t
	</sql>
	<select id="queryBondTransferList"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.trade.entity.FssBondTransferEntity">
			<include refid="selectSql"/>
			<where>
				<if test="busiNo!=null and busiNo!=''">
					AND t.busi_no like CONCAT('%',#{busiNo},'%')
				</if>
				<if test="custName!=null and custName!=''">
					AND t.`cust_name` like CONCAT('%',#{custName},'%')
				</if>
				<if test="tradeState!=null and tradeState!=''">
					AND t.`trade_state` = #{tradeState}
				</if>
				<if test="startTime != null and startTime != '' ">
					and date_format(t.create_time,'%Y%m%d') &gt;= #{startTime}
				</if>
				<if test="endTime != null and endTime != '' ">
					and date_format(t.create_time,'%Y%m%d') &lt;= #{endTime}
				</if>
			</where>
		order by t.create_time desc
	</select>
</mapper>
