<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.trade.mapper.read.FssTradeInfoReadMapper">
	<sql id="sql">
		SELECT 
			t.id,
			t.data_source dataSource,
			t.sys_code sysCode,
			t.orgl_seq_no orglSeqNo,
			/*t.seq_no seqNo,*/
			t.chg_cd chgCd,
			t.to_acc_time toAccTime,
			t.trade_time tradeTime,
			t.to_acc_nm toAccNm,
		    t.to_acc_no toAccNo,
		    t.amount,
			t.trade_sts tradeSts,
			t.card_verify cardVerify
			FROM t_gq_fss_trade_info t
	</sql>

	<select id="listTradeInfo"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.trade.entity.FssTradeInfoEntity" >
			<include refid="sql"/>
			WHERE 1=1
			<if test="orglSeqNo!=null and orglSeqNo!=''">
				AND t.orgl_seq_no=#{orglSeqNo}
			</if>
			<!--<if test="seqNo!=null and seqNo!=''">
				AND t.seq_no=#{seqNo}
			</if>-->
			<if test="chgCd!=null and chgCd!=''">
				AND t.chg_cd = #{chgCd}
			</if>
			<if test="tradeSts!=null and tradeSts!=''">
				AND t.trade_sts=#{tradeSts}
			</if>
			<if test="cardVerify != null and cardVerify != ''">
				AND t.card_verify = #{cardVerify}
			</if>
			<if test="toAccNm!=null and toAccNm!=''">
				AND t.to_acc_nm=#{toAccNm}
			</if>
			<if test="toAccNo != null and toAccNo != ''">
				AND t.to_acc_no = #{toAccNo}
			</if>
		ORDER BY t.trade_time DESC
	</select>
	
</mapper>
