<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.depos.mapper.read.FssProjectCallbackReadMapper">
		<sql id="selectSql">
		SELECT 
			t.id id,
			t.item_name itemName,
			t.item_no itemNo,
			t.pay_channel payChannel,
			t.resp_code respCode,
			t.resp_msg respMsg,
			t.bid_id bidId,
			t.failed_msg failedMsg,
			t.status status
		FROM `t_gq_fss_depos_fuiou_project_callback` t
		</sql>
	<select id="getByParentId"  resultType="com.gqhmt.fss.architect.depos.entity.FssProjectCallbackEntity" >
			<include refid="selectSql" />
			where t.parent_id=#{parentId}
	</select>
	
	<select  id="queryFssProjectCallBackList" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.depos.entity.FssProjectCallbackEntity" >
	 <include refid="selectSql" />
	 <where>
		<if test="itemNo!=null and itemNo!=''">
			AND t.`item_no` like CONCAT('%',#{itemNo},'%')
		</if>
		<if test="itemName!=null and itemName!=''">
			AND t.`item_name` like CONCAT('%',#{itemName},'%')
		</if>
	</where>
</select>
	
 </mapper>
