<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.2.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<!-- spring config -->
	<!-- <context:property-placeholder location="classpath:config.properties" /> -->
	<!--<aop:aspectj-autoproxy />
	<context:component-scan base-package="com.gqhmt.core.aop"/>-->

	<bean id="casSingleOut" class="org.jasig.cas.client.session.SingleSignOutFilter" />
	<bean id="casFilter" class="org.jasig.cas.client.authentication.AuthenticationFilter" />
	<bean id="casValidationFilter" class="org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter"/>
	<!--<bean id="casAssertionThreadLocalFilter" class="org.jasig.cas.client.util.AssertionThreadLocalFilter"/>-->
	<!--<bean id="loginFilter" class="com.gqhmt.sys.web.LoginFilter" />-->
</beans>