<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.account.mapper.read.FssAccountBindReadMapper">
    <sql id="selectSql">
        SELECT
		  t.`id` id,
		  t.`busi_id` busiId,
		  t.`cust_name` custName,
		  t.`mobile` mobile,
		  t.`busi_type` busiType,
		  t.`acc_no` accNo,
		  t.`status` status,
		  t.`seq_no` seqNo,
		  t.`trade_type` tradeType,
		  t.`open_acc_time` openAccTime,
		  t.`contract_no` contractNo,
		  t.`create_time` createTime,
		  t.`modify_time` modifyTime
		FROM `t_gq_fss_account_bind` t
    </sql>

    <select id="queryAccountBindList" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.account.entity.FssAccountBindEntity">
        <include refid="selectSql"/>
        <where>
            <if test="busiId!=null and busiId!=''">
                AND t.`busi_id`=#{busiId}
            </if>
            <if test="busiType!=null and busiType!=''">
                AND t.`busi_type`=#{busiType}
            </if>
            <if test="accNo!=null and accNo!=''">
                AND t.`acc_no`=#{accNo}
            </if>
            <if test="status!=null and status!=''">
                AND t.`status`=#{status}
            </if>
            <if test="contractNo!=null and contractNo!=''">
                AND t.`contract_no`=#{contractNo}
            </if>
            <if test="startTime != null and startTime != '' ">
                and date_format(t.create_time,'%Y%m%d') &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and date_format(t.create_time,'%Y%m%d') &lt;= #{endTime}
            </if>
        </where>


    </select>

    <select id="getBindAccByParam" resultType="com.gqhmt.fss.architect.account.entity.FssAccountBindEntity">
        <include refid="selectSql"/>
        WHERE t.`busi_id`=#{busiId}
		AND t.`busi_type`=#{busiType}
    </select>

    <select id="getBindAccountBySeqNo" parameterType="java.lang.String" resultType="com.gqhmt.fss.architect.account.entity.FssAccountBindEntity">
        <include refid="selectSql"/>
        WHERE t.`seq_no`=#{seqNo}
    </select>

    <select id="queryBindAccountLimit" resultType="com.gqhmt.fss.architect.account.entity.FssAccountBindEntity">
        <include refid="selectSql"/>
        WHERE t.status = 0 limit 10000
    </select>
</mapper>
