<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.account.mapper.read.FuiouAccountInfoReadMapper">
    <select id="queryAccountInfoList" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.account.entity.FuiouAccountInfoEntity">
        SELECT
            id,
            trade_type tradeType,
            business_code businessCode,
            trade_sources tradeSources,
            contract_num contractNum,
            seq_no seqNo,
            batch_foiu_finance batchFoiuFinance,
            trade_time tradeTime,
            trade_amount tradeAmount,
            user_account userAccount,
            user_name userName,
            in_account inAccount,
            in_user_name inUserName,
            total_money totalMoney,
            balance,
            remark,
            return_num returnNum,
            state,
            account_state accountState
        FROM t_gq_fss_fuiou_account_info t
        WHERE 1=1
        <if test="tradeType != null and tradeType != '' ">
            AND  t.trade_type = #{tradeType}
        </if>
        <if test=" businessCode != null and businessCode != ''">
            AND business_code = #{businessCode}
        </if>
        <if test="userName!=null and userName!=''">
            AND user_name = #{userName}
        </if>
        <if test="tradeTime!=null and tradeTime!=''">
            AND date_format(trade_time,'%Y-%m-%d') = #{tradeTime}
        </if>
        <if test="seqNo!=null and seqNo!=''">
            AND seq_no = #{seqNo}
        </if>
            ORDER BY t.trade_time
    </select>

    <select id="queryAccountAllInfoList" parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.account.entity.FuiouAccountInfoEntity">
        SELECT
            id,
            trade_type tradeType,
            business_code businessCode,
            trade_sources tradeSources,
            contract_num contractNum,
            seq_no seqNo,
            batch_foiu_finance batchFoiuFinance,
            trade_time tradeTime,
            trade_amount tradeAmount,
            user_account userAccount,
            user_name userName,
            in_account inAccount,
            in_user_name inUserName,
            total_money totalMoney,
            balance,
            remark,
            return_num returnNum,
            state,
            account_state accountState
        FROM t_gq_fss_fuiou_account_info t
        WHERE 1 = 1
        <if test="id!=null and id!='' and id!= 0">
            AND t.id = cast(#{id} as signed int)
        </if>
        <if test="tradeType!=null and tradeType!=''">
            AND  t.trade_type = #{tradeType}
        </if>
        <if test="tradeTime!=null and tradeTime != ''">
            AND date_format(t.trade_time,'%Y-%m-%d') = #{tradeTime}
        </if>
        ORDER BY t.trade_time
    </select>
</mapper>
