<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sys.mapper.write.SysAuthWriteMapper">
	<insert id="insertSysAuth" parameterType="com.gqhmt.sys.beans.SysAuth">
        insert into t_sys_authorization
        (role_id,func_id) VALUES
        (#{roleId},#{funcId})
	</insert>
	<delete id="delSysAuth">
		delete FROM t_sys_authorization
		where role_id=#{roleId}
	</delete>
</mapper>
