<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sys.mapper.write.SysAuthWriteMapper">
	<insert id="insertSysAuthList" parameterType="java.util.List">
          	insert into t_sys_authorization 
          		(id,role_id,func_id,create_id,create_time) 
          			select  auth_seq.nextval,A.* from (
						<foreach collection="list"   separator="union"  item="auth" >
							select #{auth.roleId},#{auth.funcId},#{auth.createId},#{auth.createTime}
						from dual
						</foreach>
					) A
	</insert>
	<update id="delSysAuth">
		update t_sys_authorization set 
			is_del=#{status},
			modify_id=#{modifyId},
			modify_date=#{modifyDate} 
		where role_id=#{roleId} and is_del=1
	</update>
</mapper>