<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sys.mapper.write.SysUsersWriteMapper">
	<insert id="insertSysUsers" useGeneratedKeys="true" keyProperty="id" parameterType="com.gqhmt.sys.beans.SysUsers">
		insert into t_sys_users
			(employee_no,password,user_name,department,description,create_time,create_id,status,login_name,user_tel,leader,company,job,sex)
		values (#{employeeNo},#{password},#{userName},#{department},#{description},#{createTime},#{createId},#{status},#{loginName},#{userTel},#{leader},#{company},#{job},#{sex})
	</insert>
	
	<update id="updateSysUsers" parameterType="com.gqhmt.sys.beans.SysUsers">
		update t_sys_users
			set employee_no=#{employeeNo},
				user_name=#{userName},
				department=#{department},
				description=#{description},
				modify_date=#{modifyDate},
				modify_id=#{modifyId},
				status=#{status},
				user_tel=#{userTel},
				leader=#{leader},
				job=#{job},
				sex=#{sex},
				company=#{company},
				login_name=#{loginName}
		where id=#{id}
	</update>
	
	<update id="uppwd">
		update t_sys_users
			set password=#{pwd}
		where id=#{id}
	</update>
	
	<update id="updateUserRole">
		update t_sys_users
			set role_ids=#{roleIds}
		where id=#{id}
	</update>
	
	<update id="updateEmpStatus">
		update t_sys_users
			set is_del=-is_del
		where id=#{id}
	</update>
</mapper>
