<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sftp.mapper.read.FssBusiTradeReadMapper">
	<sql id="selectSql">
	 SELECT 
		  `id` id,
		  `mchn` mchn,
		  `third_party_payment_id` thirdPartyPaymentId,
		  `trade_date` tradeDate,
		  `trade_type` tradeType,
		  `item_no` itemNo,
		  `contract_no` contractNo,
		  `out_fuiou_username` outFuiouUsername,
		  `out_platform_username` outPlatformUsername,
		  `amt` amt,
		  `charge` charge,
		  `this_repayment_principal` thisRepaymentPrincipal,
		  `this_repayment_interest` thisRepaymentInterest,
		  `come_fuiou_username` comeFuiouUsername,
		  `come_platform_username` comePlatformUsername,
		  `loan_username` loanUsername,
		  `loan_cert_type` loanCertType,
		  `loan_cert_no` loanCertNo,
		  `lend_username` lendUsername,
		  `lend_fuiou_username` lendFuiouUsername,
		  `lend_name` lendName,
		  `lend_cert_type` lendCertType,
		  `lend_cert_no` lendCertNo,
		  `busi_type` busiType,
		  `status` status
	  From `t_gq_fss_depos_fuiou_busi_trade` t
	  </sql>
	<select id="queryBusiTradeList" parameterType="java.util.Map" resultType="com.gqhmt.sftp.entity.FssBusinessTradeEntity" >
	 <include refid="selectSql" />
	 <where>
		<if test="mchn!=null and mchn!=''">
			AND t.`mchn` like CONCAT('%',#{mchn},'%')
		</if>
		<if test="itemNo!=null and itemNo!=''">
			AND t.`item_no` like CONCAT('%',#{itemNo},'%')
		</if>
	</where>
	</select>
	<select id="queryByStatus" parameterType="java.lang.String" resultType="com.gqhmt.sftp.entity.FssBusinessTradeEntity" >
	 <include refid="selectSql" />
	 where t.status=#{status}
	</select>
	
</mapper>
