<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sftp.mapper.read.FssFinanceSumAuditReadMapper">
	<sql id="selectSql">
	SELECT 
			t.id id,
			t.org_target_id orgTargetId,
			t.org_terrace_id orgTerraceId,
			t.cust_no custNo,
			t.cust_name custName,
			t.cert_no certNo,
			t.cert_type certType,
			t.target_state targetState,
			t.tender_time tenderTime,
			t.full_scale_time fullScaleTime,
			t.t_re_captical tReCaptical,
			t.t_re_interest tReInterest,
			t.l_re_time lReTime,
			t.a_sq_time aSqTime,
			t.a_re_captical aReCaptical,
			t.a_re_interest aReInterest,
			t.today_re_captical todayReCaptical,
			t.today_re_interest todayReInterest,
			t.e_re_captical eReCaptical,
			t.e_re_interest eReInterest,
			t.paid_sum paidSum,
			t.credit_sum creditSum,
			t.debt_sum debtSum,
			t.t_credit_sum tCreditSum,
			t.audit_state auditState,
			t.freeze_sum freezeSum
		FROM `t_gq_fss_depos_fuiou_finance_sum_callback` t
	</sql>
	
	<select id="getByParentId"  resultType="com.gqhmt.sftp.entity.FssSumAuditEntity" >
			<include refid="selectSql" />
			where t.parent_id=#{parentId}
	</select>
	
	
	<select id="querySumAuditList" parameterType="java.util.Map" resultType="com.gqhmt.sftp.entity.FssSumAuditEntity">
		 SELECT 
	 	  t.`id` id,
		  t.`parent_id` parentId,
		  t.`org_target_id` orgTargetId,
		  t.`org_terrace_id` orgTerraceId,
		  t.`cust_no` custNo,
		  t.`cust_name` custName,
		  t.`cert_no` certNo,
		  t.`cert_type` certType,
		  t.`target_state` targetState,
		  t.`tender_time` tenderTime,
		  t.`full_scale_time` fullScaleTime,
		  t.`t_re_captical` tReCaptical,
		  t.`t_re_interest` tReInterest,
		  t.`l_re_time` lRepaymentTime,
		  t.`a_sq_time` aSquareTime,
		  t.`a_re_captical` aReCaptical,
		  t.`a_re_interest` aReInterest,
		  t.`today_re_captical` todayReCaptical,
		  t.`today_re_interest` todayReInterest,
		  t.`e_re_captical` eReCaptical,
		  t.`e_re_interest` eReInterest,
		  t.`paid_sum` paidSum,
		  t.`debt_sum` creditSum,
		  t.`credit_sum` debtSum,
		  t.`t_credit_sum` tCreditSum,
		  t.`audit_state` auditState,
		  t.`freeze_sum` freezeSum
		 FROM `t_gq_fss_sftp_finance_sum_audit` t
	 <where>
		<if test="custNo!=null and custNo!=''">
			AND t.`cust_no` like CONCAT('%',#{custNo},'%')
		</if>
		<if test="custName!=null and custName!=''">
			AND t.`cust_name` like CONCAT('%',#{custName},'%')
		</if>
		<if test="certNo!=null and certNo!=''">
			AND t.`cert_no` like CONCAT('%',#{certNo},'%')
		</if>
	</where>
	</select>
 </mapper>
