<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.sftp.mapper.read.FssProjectInfoReadMapper">
	<sql id="selectSql">
	SELECT 
    		t.id id,
		    t.parent_id parentId,
		    t.mchn mchn,
		    t.seq_no seqNo,
		    t.item_no itemNo,
		    t.loan_type loanType,	
		    t.loan_tittle loanTittle,
		    t.organization organization,
		    t.description description,
		    t.loan_amt loanAmt,
		    t.expected_return expectedReturn,
		    t.product_name productName,
		    t.repayment_type repaymentType,
		    t.loan_time loanTime,
		    t.start_date startDate,
		    t.each_bid_amount eachBidAmount,
		    t.min_num minNum,
		    t.max_amount maxAmount,
		    t.acc_no accNo,
		    t.acc_gold_no accGoldNo,
		    t.loan_item_description loanItemDescription,
		    t.fee_type feeType,
		    t.trade_status tradeStatus,
		    t.period period,
		    t.prepare_amount prepareAmount,
		    t.pay_channel payChannel,
		    t.bid_year_irr bidYearIrr,
		    t.cust_name custName,
		    t.cert_type certType,
		    t.cert_no certNo,
		    t.status status
		FROM 
			t_gq_fss_depos_fuiou_project_info t 
			</sql>
	<select id="getParentId" resultType="com.gqhmt.sftp.entity.FssProjectInfoEntity">
		<include refid="selectSql"/>
		WHERE t.parent_id=${parentId} 
	</select>
	
	<select id="queryItemsInfosByStatus" resultType="com.gqhmt.sftp.entity.FssProjectInfoEntity">
		<include refid="selectSql"/>
		WHERE t.status=${status} 
	</select>
	
	<select  id="queryFssProjectInfoList" parameterType="java.util.Map" resultType="com.gqhmt.sftp.entity.FssProjectInfoEntity" >
	  SELECT 
		  t.`id` id,
		  t.`mchn` mchn,
		  t.`seq_no` seqNo,
		  t.`item_no` itemNo,
		  t.`loan_type` loanType,
		  t.`loan_tittle` loanTittle,
		  t.`organization` organization,
		  t.`description` description,
		  t.`loan_amt` loanAmt,
		  t.`expected_return` expectedReturn,
		  t.`product_name` productName,
		  t.`repayment_type` repaymentType,
		  t.`loan_time` loanTime,
		  t.`start_date` startDate,
		  t.`each_bid_amount` eachBidAmount,
		  t.`min_num` minNum,
		  t.`max_amount` maxAmount,
		  t.`acc_no` accNo,
		  t.`acc_gold_no` accGoldNo,
		  t.`loan_item_description` loanItemDescription,
		  t.`fee_type` feeType,
		  t.`status` status,
		  t.`period` period,
		  t.`prepare_amount` prepareAmount,
		  t.`pay_channel` payChannel,
		  t.`bid_year_irr` bidYearIrr,
		  t.`cust_name` custName,
		  t.`cert_type` certType,
		  t.`cert_no` certNo
	  From t_gq_fss_depos_fuiou_project_info t
	 <where>
		<if test="mchn!=null and mchn!=''">
			AND t.`mchn` like CONCAT('%',#{mchn},'%')
		</if>
		<if test="itemNo!=null and itemNo!=''">
			AND t.`item_no` like CONCAT('%',#{itemNo},'%')
		</if>
		<if test="seqNo!=null and seqNo!=''">
			AND t.`seq_no` like CONCAT('%',#{seqNo},'%')
		</if>
	</where>
</select>
	
</mapper>
