<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.funds.architect.customer.mapper.read.BankCardInfoReadMapper">
	<sql id="fieldSql">
		SELECT
		t.id id,
		t.cust_id  custId,
		t.bank_long_name  bankLongName,
		t.bank_sort_name bankSortName,
		t.bank_no bankNo,
		t.is_personal_card isPersonalCard,
		t.cert_no  certNo,
		t.mobile mobile,
		t.cert_name certName,
		t.card_index cardIndex,
		t.city_id cityId,
		t.parent_bank_id parentBankId,
		t.create_user_id createUserId,
		t.create_time createTime,
		t.modify_user_id modifyUserId,
		t.modify_time modifyTime,
		t.deleted isDel,
		t.change_state changeState,
		t.memo memo,
		t.source source
		FROM t_gq_bank_info t
	</sql>
	<sql id="whereSql">
	</sql>
	<sql id="otherSql">
		<choose>
		<when test="orderStr != null">
			order by ${orderStr}
		</when>
		<otherwise>
		</otherwise>
		</choose>
	</sql>
	<select id="queryBankList"  resultType="com.gqhmt.funds.architect.customer.bean.BankCardBean">
		select 
			id custId,
			sort_name bankSortName,
			name bankLongName
			 	from t_gq_fss_bank_list
	</select>
	
	
	<!--银行卡管理 -->
	<select id="selectBankCardList"  parameterType="java.util.Map" resultType="bankCardInfoEntity" >
		<include refid="fieldSql"/>
		<where>
	 	  	 <if test="certName != null and certName != ''">
               and t.cert_name like  CONCAT('%',#{certName},'%') 
             </if>
             <if test="bankNo != null and bankNo != ''">
               and t.bank_no like CONCAT('%',#{bankNo},'%') 
             </if>
             <if test="bankSortName != null and bankSortName != ''">
               and t.bank_sort_name like CONCAT('%',#{bankSortName},'%') 
             </if>
             <if test="startTime != null and startTime != '' ">
				and date_format(t.create_time,'%Y%m%d') &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != '' ">
				and date_format(t.create_time,'%Y%m%d') &lt;= #{endTime}
			</if>
		</where>
		order by t.create_time desc
	</select>
	
	<select id="queryBankCardByBankNo" parameterType="java.lang.String" resultType="bankCardInfoEntity">
		<include refid="fieldSql"/>
		 where t.bank_no=#{bankNo}
	</select>
	
	<select id="findBankCardByCustNo" parameterType="java.lang.String" resultType="com.gqhmt.funds.architect.customer.entity.BankCardInfoEntity">
		<include refid="fieldSql"/>

		WHERE t.cust_id=#{custNo} AND t.change_state=0
	</select>

	<select id="queryBankCard"   resultType="com.gqhmt.funds.architect.customer.entity.BankCardInfoEntity" >
		<include refid="fieldSql"/>
		WHERE t.cust_id=#{custNo} AND  (t.deleted is null or t.deleted =1 )
	</select>

</mapper>
