<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.loan.mapper.write.FssLoanWriteMapper">
	<insert id="insertLending"  parameterType="com.gqhmt.fss.architect.loan.entity.FssLoanEntity"  > 
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
		</selectKey>
       	INSERT INTO t_gq_fss_loan
		(id,cust_no,user_no,acc_no,contract_id,contract_no,contract_amt,pay_amt,bespoke_date,trade_type,seq_no,mortgagee_acc_no,create_time,mchn_parent,mchn_child,loan_platform)
		VALUES
    	(null,#{custNo},#{userNo},#{accNo},#{contractId},#{contractNo},#{contractAmt},#{payAmt},#{bespokeDate},#{tradeType},#{seqNo},#{mortgageeAccNo},#{createTime},#{mchnParent},#{mchnChild},#{loanPlatform})
    </insert>  
</mapper>
