<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.trade.mapper.read.FssTradeApplyReadMapper">
	<sql id="selectSql">
		SELECT 
			t.id id,
			t.apply_no applyNo,
			t.apply_type applyType,
			t.cust_id custId,
			t.cust_no custNo	,
			t.user_no userNo	,
			t.form_id formId,
			t.business_no businessNo,
			t.busi_type busiType,
		    t.acc_no accNo,
		    t.contract_id contractId,
			t.trade_amount tradeAmount,
			t.real_trade_amount realTradeAmount,
			t.trade_charge_amount tradeChargeAmount,
			t.apply_state applyState,
			t.trade_state tradeState,
			t.bespoke_date bespokeDate,
			t.create_time createTime,
			t.modify_time modifyTime,
			t.seq_no seqNo,
			t.mchn_child mchnChild,
			t.mchn_parent mchnParent,
			t.count count,
			t.success_count successCount,
			t.channel_no channelNo
			FROM t_gq_fss_trade_apply t
	</sql>
	<!-- 根据申请类型和业务类型查询申请数据 -->
	
	<sql id="field">
		SELECT 
			t.id id,
			t.cust_id custId,
			t.apply_no applyNo,
			t.apply_type applyType,
			t.business_no businessNo,
			t.busi_type busiType,
		    t.contract_id contractId,
			t.seq_no seqNo,
			t.bespoke_date bespokeDate,
		    t.acc_no accNo,
			t.trade_amount tradeAmount,
			t.create_time createTime,
			t.modify_time modifyTime,
			t.mchn_child mchnChild,
			t.apply_state applyState,
			t.trade_state tradeState,
			t.count count,
			t.success_count successCount,
			t.real_trade_amount realTradeAmount,
			t.channel_no channelNo,
			c.`name` custName,
			c.mobile custMobile
			FROM t_gq_fss_trade_apply t left join t_gq_fss_customer c
			ON t.cust_id=c.cust_id
	</sql>
	
	<!-- 根据申请类型和业务类型查询申请数据 -->
	<select id="queryFssTradeApplyList"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.trade.bean.FssTradeApplyBean" >
			<include refid="field"/>
			WHERE t.apply_type=#{applyType}  and t.busi_type=#{busiType}
			<if test="applyNo != null and applyNo != ''">
				AND t.apply_no like CONCAT('%',#{applyNo},'%')
			</if>
			<if test="businessNo != null and businessNo != ''">
				AND t.business_no like CONCAT('%',#{businessNo},'%')
			</if>
			<if test="startTime != null and startTime != '' ">
				and date_format(t.create_time,'%Y%m%d') &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != '' ">
				and date_format(t.create_time,'%Y%m%d') &lt;= #{endTime}
			</if>
	</select>
	
	<!-- 根据applyNo查询对象 -->
	<select id="queryFssTradeApply" resultType="com.gqhmt.fss.architect.trade.bean.FssTradeApplyBean" >
		<include refid="field"/>
		WHERE t.apply_no=#{applyNo}
	</select>
	
	<select id="selectFssTradeApplyEntityByApplyNo" resultType="com.gqhmt.fss.architect.trade.entity.FssTradeApplyEntity" >
		 <include refid="selectSql" />
			WHERE t.apply_no=#{applyNo}
	</select>

	<!-- 根据applyNo查询对象 -->
	<select id="selectByApplyNo" resultType="com.gqhmt.fss.architect.trade.entity.FssTradeApplyEntity" >
	 <include refid="selectSql" />
	  WHERE t.apply_no=#{applyNo}
	</select>
	<!-- 根据tradeSates查询对象 -->
	<select id="selectByTradeState" resultType="com.gqhmt.fss.architect.trade.entity.FssTradeApplyEntity" >
	 <include refid="selectSql" />
	  WHERE t.trade_state=#{tradeState}
	</select>
	<select id="selectBySeqNoAndMchn" resultType="com.gqhmt.fss.architect.trade.entity.FssTradeApplyEntity" >
	 <include refid="selectSql" />
	  WHERE t.seq_no=#{seqNo} and t.mchn_child=#{mchn}
	</select>
	
	<!-- 查询冠E通代扣申请回盘数据 -->
	<select id="selectTradeApplyData" resultType="com.gqhmt.extServInter.dto.p2p.WithHoldApplyResponse" >
		SELECT 
		t.mchn_child mchn,
		t.seq_no seq_no,
		t.busi_type trade_type,
		t.contract_id busi_no,
		t.real_trade_amount real_trade_amount,
		case  
			when t.trade_state=10080002 then '10080002'<!-- 交易成功 -->
			when t.trade_state=10080003 then '10080003'<!-- 交易部分成功 -->
			when t.trade_state=10080011 then '10080011'<!-- 交易取消 -->
			else '10080010'	<!-- 交易失败 -->
		end resp_code
		FROM t_gq_fss_trade_apply t
		WHERE t.mchn_child=#{mchn} and t.seq_no=#{seqNo} 
	</select>
</mapper>
