<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.fss.architect.trade.mapper.read.FssTradeApplyReadMapper">
	<!-- 根据申请类型和业务类型查询申请数据 -->
	<select id="queryFssTradeApplyList"  parameterType="java.util.Map" resultType="com.gqhmt.fss.architect.trade.entity.FssTradeApplyEntity" >
		SELECT 
			t.id id,
			t.cust_id custId,
			t.apply_no applyNo,
			t.apply_type applyType,
			t.business_no businessNo,
			t.busi_type busiType,
		    t.contract_id contractId,
			t.seq_no seqNo,
			t.bespoke_date bespokeDate,
		    t.acc_no accNo,
			t.trade_amount tradeAmount,
			t.create_time createTime,
			t.modify_time modifyTime,
			t.mchn_child mchnChild,
			t.apply_state applyState,
			t.trade_state tradeState,
			t.count count,
			t.success_count successCount,
			t.real_trade_amount realTradeAmount,
			t.channel_no channelNo
			FROM t_gq_fss_trade_apply t 
			WHERE t.apply_type=#{applyType}  and t.busi_type=#{busiType}
			<if test="accNo != null and accNo != ''">
				AND t.acc_no like CONCAT('%',#{accNo},'%')
			</if>
			<if test="businessNo != null and businessNo != ''">
				AND t.business_no like CONCAT('%',#{businessNo},'%')
			</if>
			<if test="startime!=null and startime!=''"> 
				AND t.create_time &gt;= DATE_FORMAT(#{startime},'%Y%m%d%H%i%s')
			</if>
			<if test="endtime!=null and endtime!='' "> 
				AND t.create_time &lt;= DATE_FORMAT(#{endtime},'%Y%m%d%H%i%s')
			</if>
	</select>
</mapper>
