<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqhmt.funds.architect.trade.mapper.read.FundTradeReadMapper">
	<select id="queryFundTradeList" parameterType="java.util.Map" resultType="fundTradeEntity">
		 SELECT  
			t.id,
			t.trade_no,
			t.trade_type,
			t.user_id,
			t.account_id,
			t.income,
			t.spending,
			t.usable_sum,
			t.remarks,
			t.trade_time,
			t.bid_id,
			t.repayment_id,
			t.bonus_amount
		FROM t_gq_fund_trade t,t_gq_fund_account f
		WHERE  t.account_id = f.id AND f.cust_id = 44861 AND (f.busi_type = 3 OR f.busi_type = 99)
		<if test="str_trade_time != null and str_trade_time !='' "> <![CDATA[and STR_TO_DATE(t.trade_time,'%Y-%m-%d') >= STR_TO_DATE(#{str_trade_time},'%Y-%m-%d')]]> </if>
		<if test="end_trade_time != null and end_trade_time !='' "><![CDATA[ and STR_TO_DATE(t.trade_time,'%Y-%m-%d') <= STR_TO_DATE(#{end_trade_time},'%Y-%m-%d')]]> </if>
		AND t.trade_type IN
		<foreach collection="list" item="trade_type" index="index"
           open="(" close=")" separator=",">
           #{trade_type}
       </foreach>
		ORDER BY t.trade_time DESC,t.id DESC
	</select>

</mapper>
